Repository NabuCasa/hass-nabucasa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, pylint, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff Linter
        language: system
        types: [python]
        entry: python3 -m ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: Ruff Formatter
        language: system
        types: [python]
        entry: python3 -m ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-ast
        name: Check Python AST
        language: system
        types: [python]
        entry: check-ast
      - id: check-case-conflict
        name: Check for case conflicts
        language: system
        entry: check-case-conflict
      - id: check-docstring-first
        name: heck docstring is first
        language: system
        types: [python]
        entry: check-docstring-first
      - id: check-executables-have-shebangs
        name: Check that executables have shebangs
        language: system
        types: [text, executable]
        entry: check-executables-have-shebangs
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: check-json
      - id: check-merge-conflict
        name: Check for merge conflicts
        language: system
        types: [text]
        entry: check-merge-conflict
      - id: check-toml
        name: Check TOML files
        language: system
        types: [toml]
        entry: check-toml
      - id: codespell
        name: Check code for common misspellings
        language: system
        types: [text]
        entry: codespell
      - id: detect-private-key
        name: Detect Private Keys
        language: system
        types: [text]
        entry: detect-private-key
      - id: end-of-file-fixer
        name: Fix End of Files
        language: system
        types: [text]
        entry: end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: Don't commit to master branch
        language: system
        entry: no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=master
      - id: pylint
        name: Starring code with pylint
        entry: python3 -m pylint
        language: system
        types: [python]
        require_serial: true
        files: ^hass_nabucasa/.+\.py$
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        language: system
        types: [text]
        entry: trailing-whitespace-fixer
        stages: [pre-commit, pre-push, manual]
      - id: mypy
        name: mypy
        entry: python3 -m mypy
        language: system
        types: [python]
        require_serial: true
        files: ^hass_nabucasa/.+\.py$

Seperate out connection errors from subscription issues
  hass_nabucasa/__init__.py
  hass_nabucasa/const.py
  tests/test_init.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Change to 30 min for connection error
  hass_nabucasa/__init__.py
  tests/test_init.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Replace pycognito
  hass_nabucasa/auth.py
  pyproject.toml
  tests/test_auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint, mypy

refactor and type enhancements
  hass_nabucasa/auth.py
  pyproject.toml
  tests/test_auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint, mypy

Refactor _recreate_acme method to always reset ACME
  hass_nabucasa/remote.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Remove un-needed tests
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

Do reconnection for connection error more agressively
  hass_nabucasa/__init__.py
  tests/test_init.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update hass_nabucasa/__init__.py
  hass_nabucasa/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update tests/test_remote.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

Remove cloud_api.async_subscription_info
  hass_nabucasa/__init__.py
  hass_nabucasa/cloud_api.py
  tests/test_cloud_api.py
  tests/test_init.py
  tests/test_payments_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add new NabuCasa* base exceptions
  hass_nabucasa/__init__.py
  hass_nabucasa/api.py
  hass_nabucasa/auth.py
  hass_nabucasa/exceptions.py
  hass_nabucasa/iot_base.py
  tests/test_auth.py
  tests/test_iot_base.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add freezegun for time manipulation in tests
  pyproject.toml
  tests/common.py
  tests/conftest.py
  tests/test_auth.py
  tests/test_init.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml

Extend __all__
  hass_nabucasa/__init__.py
  hass_nabucasa/exceptions.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add new NabuCasa* base exceptions (#891)
  hass_nabucasa/__init__.py
  hass_nabucasa/api.py
  hass_nabucasa/auth.py
  hass_nabucasa/exceptions.py
  hass_nabucasa/iot_base.py
  tests/test_auth.py
  tests/test_iot_base.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Improve logging messages for better clarity and consistency
  hass_nabucasa/google_report_state.py
  hass_nabucasa/iot.py
  hass_nabucasa/iot_base.py
  hass_nabucasa/utils.py
  tests/test_iot_base.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add migrate_paypal_agreement to PaymentsApi
  hass_nabucasa/payments_api.py
  tests/test_payments_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Implement better certificate management status updates
  hass_nabucasa/__init__.py
  hass_nabucasa/acme.py
  hass_nabucasa/const.py
  hass_nabucasa/remote.py
  tests/common.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add no_certificate
  hass_nabucasa/const.py
  hass_nabucasa/remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

move
  hass_nabucasa/remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

simplify
  hass_nabucasa/remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Refactor _recreate_acme method to always reset ACME (#889)
  hass_nabucasa/remote.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add freezegun for time manipulation in tests (#893)
  pyproject.toml
  tests/common.py
  tests/conftest.py
  tests/test_auth.py
  tests/test_init.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml

Improve logging messages for better clarity and consistency (#894)
  hass_nabucasa/google_report_state.py
  hass_nabucasa/iot.py
  hass_nabucasa/iot_base.py
  hass_nabucasa/utils.py
  tests/test_iot_base.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Remove cloud_api.async_subscription_info (#890)
  hass_nabucasa/__init__.py
  hass_nabucasa/cloud_api.py
  tests/test_cloud_api.py
  tests/test_init.py
  tests/test_payments_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add ready state to golden path
  hass_nabucasa/remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Implement better certificate management status updates (#896)
  hass_nabucasa/__init__.py
  hass_nabucasa/acme.py
  hass_nabucasa/const.py
  hass_nabucasa/remote.py
  tests/common.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add migrate_paypal_agreement to PaymentsApi (#895)
  hass_nabucasa/payments_api.py
  tests/test_payments_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Allow empty API responses for POST and HEAD
  hass_nabucasa/api.py
  tests/test_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Migrate statnalone DNS handlers to the instance api class
  hass_nabucasa/acme.py
  hass_nabucasa/cloud_api.py
  hass_nabucasa/instance_api.py
  hass_nabucasa/remote.py
  tests/conftest.py
  tests/test_cloud_api.py
  tests/test_instance_api.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Adjust tests
  tests/test_alexa_api.py
  tests/test_api.py
  tests/test_payments_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

Allow empty API responses for POST and HEAD (#897)
  hass_nabucasa/api.py
  tests/test_alexa_api.py
  tests/test_api.py
  tests/test_payments_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Split out
  tests/test_instance_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

lint
  tests/test_instance_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

Refactor ICE server listener registration to ensure proper cleanup of tasks
  tests/test_ice_servers.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

Speedup test runs
  tests/common.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

Refactor ICE server listener registration to ensure proper cleanup of tasks (#899)
  tests/test_ice_servers.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

Migrate standalone DNS handlers to the instance api class (#898)
  hass_nabucasa/acme.py
  hass_nabucasa/cloud_api.py
  hass_nabucasa/instance_api.py
  hass_nabucasa/remote.py
  tests/conftest.py
  tests/test_cloud_api.py
  tests/test_instance_api.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Separate out connection errors from subscription issues (#887)
  hass_nabucasa/__init__.py
  hass_nabucasa/const.py
  tests/test_init.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Supress ContentTypeError in API handler
  hass_nabucasa/api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Supress ContentTypeError in API handler (#903)
  hass_nabucasa/api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy
