Repository NabuCasa/hass-nabucasa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, codespell, pylint, mypy

ruff-check:
  name: Ruff Linter
  language: system
  entry: python3 -m ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: Ruff Formatter
  language: system
  entry: python3 -m ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-ast:
  name: Check Python AST
  language: system
  entry: check-ast

check-docstring-first:
  name: heck docstring is first
  language: system
  entry: check-docstring-first

check-json:
  name: Check JSON files
  language: system
  entry: check-json

check-toml:
  name: Check TOML files
  language: system
  entry: check-toml

codespell:
  name: Check code for common misspellings
  language: system
  entry: codespell

pylint:
  name: Starring code with pylint
  entry: python3 -m pylint
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: python3 -m mypy
  language: system
  require_serial: true

rename _update_token -> _update_connection_details
  hass_nabucasa/llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

reorder async_edit_image
  hass_nabucasa/llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

reorder async_generate_image
  hass_nabucasa/llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

update test functions to use direct patching and remove unnecessary parameters
  tests/test_llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

copilot adjustments
  hass_nabucasa/__init__.py
  hass_nabucasa/llm.py
  tests/test_llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Remove pytest.mark.asyncio usage
  tests/events/test_bus.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Remove pytest.mark.asyncio usage (#1018)
  tests/events/test_bus.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

rename cloud module
  tests/test_llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Add LLM handler (#1011)
  hass_nabucasa/__init__.py
  hass_nabucasa/auth/__init__.py
  hass_nabucasa/llm.py
  hass_nabucasa/service_discovery.py
  pyproject.toml
  tests/test_llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, pylint, mypy

adapt tests
  tests/test_llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

lint fix
  hass_nabucasa/llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

improvements
  hass_nabucasa/llm.py
  tests/test_llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

move return statement
  hass_nabucasa/llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

add LLM conversation (#1017)
  hass_nabucasa/llm.py
  tests/test_llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

fix wrong paramter name 'response_foramt' tp 'text_format'
  hass_nabucasa/llm.py
  tests/test_llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

don't change the public API
  hass_nabucasa/llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

lint and fix tests
  hass_nabucasa/llm.py
  tests/test_llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Rename parameter response_format to text_format to match expected parameter (#1022)
  hass_nabucasa/llm.py
  tests/test_llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

don't calidate cloud token if not logged in
  hass_nabucasa/llm.py
  tests/test_llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

check that _validate_token is not called instead of _update_connection_details
  tests/test_llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

use not instead of is False
  hass_nabucasa/llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

lint
  hass_nabucasa/llm.py
  tests/test_llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

throw new NabuCasaNotLoggedInError instead of silent return
  hass_nabucasa/__init__.py
  hass_nabucasa/exceptions.py
  hass_nabucasa/llm.py
  tests/test_llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

improve tests
  tests/test_llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Raise early in async_ensure_token if not logged in (#1024)
  hass_nabucasa/__init__.py
  hass_nabucasa/exceptions.py
  hass_nabucasa/llm.py
  tests/test_llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

pin grcpio==1.75.1
  pyproject.toml
Due: check-toml, codespell

set min grpcio version
  pyproject.toml
Due: check-toml, codespell

set max grpcio version
  pyproject.toml
Due: check-toml, codespell

Require grpcio>=1.75.1,<2 (#1028)
  pyproject.toml
Due: check-toml, codespell

ensure text_format has 'required' field correctly populated
  hass_nabucasa/llm.py
  tests/test_llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Refactor ICE server handling
  hass_nabucasa/__init__.py
  hass_nabucasa/events/types.py
  hass_nabucasa/ice_servers.py
  tests/test_ice_servers.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add login and logout event publishing to Cloud class
  hass_nabucasa/__init__.py
  hass_nabucasa/events/types.py
  tests/events/__snapshots__/test_bus.ambr
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Updates are not needed
  hass_nabucasa/events/types.py
  hass_nabucasa/ice_servers.py
  tests/test_ice_servers.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

remove use_litellm_proxy setting
  hass_nabucasa/llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

remove logger
  hass_nabucasa/llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

remove litellm provider parameter
  hass_nabucasa/llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Update relayer to use service discovery (#1001)
  hass_nabucasa/iot.py
  hass_nabucasa/service_discovery.py
  tests/fixtures/service_discovery.json
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, codespell, pylint, mypy

add custom_llm_provider to all litellm calls
  hass_nabucasa/llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

add custom_llm_provider to all litellm calls (#1033)
  hass_nabucasa/llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  codespell: any file but: voice_data.py
  pylint: any of: ^hass_nabucasa/.+\.py$ and \.py$
  mypy: any of: ^hass_nabucasa/.+\.py$ and \.py$
