Repository NabuCasa/hass-nabucasa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, codespell, pylint, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff Linter
        language: system
        types: [python]
        entry: python3 -m ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: Ruff Formatter
        language: system
        types: [python]
        entry: python3 -m ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-ast
        name: Check Python AST
        language: system
        types: [python]
        entry: check-ast
      - id: check-case-conflict
        name: Check for case conflicts
        language: system
        entry: check-case-conflict
      - id: check-docstring-first
        name: heck docstring is first
        language: system
        types: [python]
        entry: check-docstring-first
      - id: check-executables-have-shebangs
        name: Check that executables have shebangs
        language: system
        types: [text, executable]
        entry: check-executables-have-shebangs
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: check-json
      - id: check-merge-conflict
        name: Check for merge conflicts
        language: system
        types: [text]
        entry: check-merge-conflict
      - id: check-toml
        name: Check TOML files
        language: system
        types: [toml]
        entry: check-toml
      - id: codespell
        name: Check code for common misspellings
        language: system
        types: [text]
        entry: codespell
        exclude: voice_data.py
      - id: detect-private-key
        name: Detect Private Keys
        language: system
        types: [text]
        entry: detect-private-key
      - id: end-of-file-fixer
        name: Fix End of Files
        language: system
        types: [text]
        entry: end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: Don't commit to the main branch
        language: system
        entry: no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: Starring code with pylint
        entry: python3 -m pylint
        language: system
        types: [python]
        require_serial: true
        files: ^hass_nabucasa/.+\.py$
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        language: system
        types: [text]
        entry: trailing-whitespace-fixer
        stages: [pre-commit, pre-push, manual]
      - id: mypy
        name: mypy
        entry: python3 -m mypy
        language: system
        types: [python]
        require_serial: true
        files: ^hass_nabucasa/.+\.py$

Add pytest-socket to block sockets in tests (#924)
  pyproject.toml
Due: check-toml, codespell

Ensure that final sentence is not skipped
  hass_nabucasa/voice.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Fix final TTS sentence being dropped
  hass_nabucasa/voice.py
  tests/test_voice.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Linting
  hass_nabucasa/voice.py
  tests/test_voice.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Fix final TTS sentence being dropped (#926)
  hass_nabucasa/voice.py
  tests/test_voice.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Refactor tests for Instance API endpoints
  .pre-commit-config.yaml
  tests/__snapshots__/test_instance_api.ambr
  tests/common.py
  tests/conftest.py
  tests/test_instance_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Update snapshots always
  pyproject.toml
Due: check-toml, codespell

Handle AccountsApiError while resolving DNS names
  hass_nabucasa/remote.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Handle AccountsApiError while resolving DNS names (#929)
  hass_nabucasa/remote.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

limit logs to hass_nabucasa in snapshots
  tests/common.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Update pyproject.toml
  pyproject.toml
Due: check-toml, codespell

Update tests/conftest.py
  tests/conftest.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Bump snitun to 0.44.0 (#814)
  pyproject.toml
Due: check-toml, codespell

Extend version resolver logic for release-drafter
  .github/release-drafter.yml
Due: codespell

Add some more labels
  .github/release-drafter.yml
Due: codespell

split differently
  .github/release-drafter.yml
Due: codespell

add bug-fix to patch
  .github/release-drafter.yml
Due: codespell

its one word
  .github/release-drafter.yml
Due: codespell

Extend version resolver logic for release-drafter (#930)
  .github/release-drafter.yml
Due: codespell

Highlight breaking/minor/major lables in the releasenotes
  .github/release-drafter.yml
Due: codespell

Highlight breaking/minor/major lables in the releasenotes (#931)
  .github/release-drafter.yml
Due: codespell

Add exclude-labels to release drafter configuration
  .github/release-drafter.yml
Due: codespell

Add exclude-labels to release drafter configuration (#932)
  .github/release-drafter.yml
Due: codespell

Refactor tests for Instance API endpoints (#928)
  .pre-commit-config.yaml
  pyproject.toml
  tests/__snapshots__/test_instance_api.ambr
  tests/common.py
  tests/conftest.py
  tests/test_instance_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell

Remove spaces in labels
  .github/release-drafter.yml
Due: codespell

Add workflow to check that PRs contains at least one expected label
  .github/workflows/check-pull-request-labels.yml
Due: codespell

Remove spaces in labels (#933)
  .github/release-drafter.yml
Due: codespell

Add workflow to check that PRs contains at least one expected label (#934)
  .github/workflows/check-pull-request-labels.yml
Due: codespell

lint
  hass_nabucasa/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Move request_sync into GoogleReportState and remove cloud_api (#918)
  hass_nabucasa/__init__.py
  hass_nabucasa/api.py
  hass_nabucasa/cloud_api.py
  hass_nabucasa/google_report_state.py
  tests/test_cloud_api.py
  tests/test_google_report_state_sync.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Use the cloud fixture in acme tests
  tests/test_acme.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

lint
  tests/test_acme.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Use the cloud fixture in acme tests (#942)
  tests/test_acme.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Refactor remote tests
  tests/__snapshots__/test_remote.ambr
  tests/conftest.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

fix usage
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

simplify
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Add more alexa_api imports to root
  hass_nabucasa/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add claude and copilot instructions
  .devcontainer.json
  .github/copilot-instructions.md
  .gitignore
  CLAUDE.md
Due: check-json, codespell

Update .github/copilot-instructions.md
  .github/copilot-instructions.md
Due: codespell

lint
  .devcontainer.json
Due: check-json, codespell
