Repository NabuCasa/hass-nabucasa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, codespell, pylint, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff Linter
        language: system
        types: [python]
        entry: python3 -m ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: Ruff Formatter
        language: system
        types: [python]
        entry: python3 -m ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-ast
        name: Check Python AST
        language: system
        types: [python]
        entry: check-ast
      - id: check-case-conflict
        name: Check for case conflicts
        language: system
        entry: check-case-conflict
      - id: check-docstring-first
        name: heck docstring is first
        language: system
        types: [python]
        entry: check-docstring-first
      - id: check-executables-have-shebangs
        name: Check that executables have shebangs
        language: system
        types: [text, executable]
        entry: check-executables-have-shebangs
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: check-json
      - id: check-merge-conflict
        name: Check for merge conflicts
        language: system
        types: [text]
        entry: check-merge-conflict
      - id: check-toml
        name: Check TOML files
        language: system
        types: [toml]
        entry: check-toml
      - id: codespell
        name: Check code for common misspellings
        language: system
        types: [text]
        entry: codespell
        exclude: voice_data.py
      - id: detect-private-key
        name: Detect Private Keys
        language: system
        types: [text]
        entry: detect-private-key
      - id: end-of-file-fixer
        name: Fix End of Files
        language: system
        types: [text]
        entry: end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: Don't commit to the main branch
        language: system
        entry: no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: Starring code with pylint
        entry: python3 -m pylint
        language: system
        types: [python]
        require_serial: true
        files: ^hass_nabucasa/.+\.py$
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        language: system
        types: [text]
        entry: trailing-whitespace-fixer
        stages: [pre-commit, pre-push, manual]
      - id: mypy
        name: mypy
        entry: python3 -m mypy
        language: system
        types: [python]
        require_serial: true
        files: ^hass_nabucasa/.+\.py$

Apply suggestion from @Copilot
  tests/test_voice.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

update snapshot
  tests/__snapshots__/test_voice_api.ambr
Due: codespell

Refactor voice API tests to use Cloud instance and update mock server URLs (#990)
  tests/__snapshots__/test_voice_api.ambr
  tests/test_voice.py
  tests/test_voice_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Add service discovery module to use well known service actions
  hass_nabucasa/__init__.py
  hass_nabucasa/api.py
  hass_nabucasa/files.py
  hass_nabucasa/service_discovery.py
  hass_nabucasa/utils.py
  hass_nabucasa/voice_api.py
  pyproject.toml
  tests/__snapshots__/test_service_discovery.ambr
  tests/__snapshots__/test_voice_api.ambr
  tests/common.py
  tests/conftest.py
  tests/fixtures/service_discovery.json
  tests/test_api.py
  tests/test_init.py
  tests/test_service_discovery.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, codespell, pylint, mypy

Adjust sleep calculation
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_service_discovery.ambr
  tests/test_service_discovery.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

lint
  hass_nabucasa/service_discovery.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

validFor -> valid_for
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_service_discovery.ambr
  tests/fixtures/service_discovery.json
  tests/test_service_discovery.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, codespell, pylint, mypy

Do not go into an infinite loop at startup if the API is not responding
  .github/copilot-instructions.md
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_service_discovery.ambr
  tests/common.py
  tests/conftest.py
  tests/fixtures/service_discovery.json
  tests/test_service_discovery.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, codespell, pylint, mypy

Add seconds_as_dhms utility for better logs
  hass_nabucasa/service_discovery.py
  hass_nabucasa/utils.py
  tests/__snapshots__/test_service_discovery.ambr
  tests/test_service_discovery.py
  tests/test_utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Update hass_nabucasa/service_discovery.py
  hass_nabucasa/service_discovery.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

fix typo
  hass_nabucasa/service_discovery.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Renmove unused VALID_ACTIONS_STR
  hass_nabucasa/service_discovery.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Refactor API calls to use action parameters instead of URLs and update related tests
  hass_nabucasa/api.py
  hass_nabucasa/service_discovery.py
  hass_nabucasa/voice_api.py
  tests/test_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add service discovery module to use well-known service actions (#991)
  .github/copilot-instructions.md
  hass_nabucasa/__init__.py
  hass_nabucasa/api.py
  hass_nabucasa/files.py
  hass_nabucasa/service_discovery.py
  hass_nabucasa/utils.py
  hass_nabucasa/voice_api.py
  pyproject.toml
  tests/__snapshots__/test_service_discovery.ambr
  tests/__snapshots__/test_voice_api.ambr
  tests/common.py
  tests/conftest.py
  tests/fixtures/service_discovery.json
  tests/test_api.py
  tests/test_init.py
  tests/test_service_discovery.py
  tests/test_utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, codespell, pylint, mypy

Move accounts_server usage to service discovery
  hass_nabucasa/accounts_api.py
  hass_nabucasa/payments_api.py
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_accounts_api.ambr
  tests/__snapshots__/test_payments_api.ambr
  tests/__snapshots__/test_service_discovery.ambr
  tests/fixtures/service_discovery.json
  tests/test_accounts_api.py
  tests/test_payments_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, codespell, pylint, mypy

Minor service discovery adjustments
  hass_nabucasa/const.py
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_service_discovery.ambr
  tests/test_service_discovery.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Use seconds_as_dhms in more places for consistency
  hass_nabucasa/__init__.py
  hass_nabucasa/acme.py
  hass_nabucasa/auth.py
  hass_nabucasa/utils.py
  tests/__snapshots__/test_service_discovery.ambr
  tests/test_auth.py
  tests/test_init.py
  tests/test_utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add edgecase test
  tests/test_utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Show 0 values if between 2 non-zero parts
  hass_nabucasa/utils.py
  tests/test_utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Use seconds_as_dhms in more places for consistency (#994)
  hass_nabucasa/__init__.py
  hass_nabucasa/acme.py
  hass_nabucasa/auth.py
  hass_nabucasa/utils.py
  tests/__snapshots__/test_service_discovery.ambr
  tests/test_auth.py
  tests/test_init.py
  tests/test_utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add overloads to the init to signal that api_server is required for development
  hass_nabucasa/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Move start to after load
  hass_nabucasa/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Move into _finish_initialize to check token first
  hass_nabucasa/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

when starting also
  hass_nabucasa/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Move accounts_server usage to service discovery (#992)
  hass_nabucasa/accounts_api.py
  hass_nabucasa/payments_api.py
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_accounts_api.ambr
  tests/__snapshots__/test_payments_api.ambr
  tests/__snapshots__/test_service_discovery.ambr
  tests/fixtures/service_discovery.json
  tests/test_accounts_api.py
  tests/test_payments_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, codespell, pylint, mypy

Minor service discovery adjustments (#993)
  hass_nabucasa/const.py
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_service_discovery.ambr
  tests/test_service_discovery.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Move start to after load (#996)
  hass_nabucasa/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Update sentence-stream dependency to allow versions >=1.2.0 and <2
  pyproject.toml
Due: check-toml, codespell

Update sentence-stream dependency to allow versions >=1.2.0 and <2 (#997)
  pyproject.toml
Due: check-toml, codespell

Move usage of servicehandler_server to new service discovery
  hass_nabucasa/account_api.py
  hass_nabucasa/alexa_api.py
  hass_nabucasa/cloudhooks.py
  hass_nabucasa/files.py
  hass_nabucasa/ice_servers.py
  hass_nabucasa/instance_api.py
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_account_api.ambr
  tests/__snapshots__/test_alexa_api.ambr
  tests/__snapshots__/test_cloudhooks.ambr
  tests/__snapshots__/test_files.ambr
  tests/__snapshots__/test_ice_servers.ambr
  tests/__snapshots__/test_instance_api.ambr
  tests/__snapshots__/test_remote.ambr
  tests/conftest.py
  tests/fixtures/service_discovery.json
  tests/test_account_api.py
  tests/test_alexa_api.py
  tests/test_cloudhooks.py
  tests/test_files.py
  tests/test_ice_servers.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, codespell, pylint, mypy

Move usage of acme_directory to service discovery
  hass_nabucasa/acme.py
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_remote.ambr
  tests/fixtures/service_discovery.json
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, codespell, pylint, mypy

Make action URL logging consistent
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_accounts_api.ambr
  tests/__snapshots__/test_payments_api.ambr
  tests/__snapshots__/test_service_discovery.ambr
  tests/__snapshots__/test_voice_api.ambr
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Make action URL logging consistent (#1000)
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_accounts_api.ambr
  tests/__snapshots__/test_payments_api.ambr
  tests/__snapshots__/test_service_discovery.ambr
  tests/__snapshots__/test_voice_api.ambr
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

update snapshot
  tests/__snapshots__/test_remote.ambr
Due: codespell

Move usage of acme_directory to service discovery (#999)
  hass_nabucasa/acme.py
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_remote.ambr
  tests/fixtures/service_discovery.json
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, codespell, pylint, mypy

Update relayer to use service discovery
  hass_nabucasa/iot.py
  hass_nabucasa/service_discovery.py
  tests/fixtures/service_discovery.json
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, codespell, pylint, mypy

Pass command-line arguments to pytest in snapshot-update and test scripts
  scripts/snapshot-update
  scripts/test
Due: codespell

Pass command-line arguments to pytest in snapshot-update and test scripts (#1002)
  scripts/snapshot-update
  scripts/test
Due: codespell

Add simple eventbus
  hass_nabucasa/__init__.py
  hass_nabucasa/events/__init__.py
  hass_nabucasa/events/bus.py
  hass_nabucasa/events/types.py
  tests/test_events.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy
