Repository NabuCasa/hass-nabucasa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, pylint, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff Linter
        language: system
        types: [python]
        entry: python3 -m ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: Ruff Formatter
        language: system
        types: [python]
        entry: python3 -m ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-ast
        name: Check Python AST
        language: system
        types: [python]
        entry: check-ast
      - id: check-case-conflict
        name: Check for case conflicts
        language: system
        entry: check-case-conflict
      - id: check-docstring-first
        name: heck docstring is first
        language: system
        types: [python]
        entry: check-docstring-first
      - id: check-executables-have-shebangs
        name: Check that executables have shebangs
        language: system
        types: [text, executable]
        entry: check-executables-have-shebangs
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: check-json
      - id: check-merge-conflict
        name: Check for merge conflicts
        language: system
        types: [text]
        entry: check-merge-conflict
      - id: check-toml
        name: Check TOML files
        language: system
        types: [toml]
        entry: check-toml
      - id: codespell
        name: Check code for common misspellings
        language: system
        types: [text]
        entry: codespell
      - id: detect-private-key
        name: Detect Private Keys
        language: system
        types: [text]
        entry: detect-private-key
      - id: end-of-file-fixer
        name: Fix End of Files
        language: system
        types: [text]
        entry: end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: Don't commit to master branch
        language: system
        entry: no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=master
      - id: pylint
        name: Starring code with pylint
        entry: python3 -m pylint
        language: system
        types: [python]
        require_serial: true
        files: ^hass_nabucasa/.+\.py$
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        language: system
        types: [text]
        entry: trailing-whitespace-fixer
        stages: [pre-commit, pre-push, manual]
      - id: mypy
        name: mypy
        entry: python3 -m mypy
        language: system
        types: [python]
        require_serial: true
        files: ^hass_nabucasa/.+\.py$

Migrate pre-commit config (#732)
  .pre-commit-config.yaml
Due: none

Adjust typing of FilesHandlerListEntry
  hass_nabucasa/cloud_api.py
  tests/test_cloud_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

update test
  tests/test_cloud_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

Bump version to 0.84.0
  pyproject.toml
Due: check-toml

Bump version to 0.84.0 (#736)
  pyproject.toml
Due: check-toml

Disable ASYNC109 in tests
  tests/ruff.toml
Due: check-toml

Adjust for ICN001 in voice.py
  hass_nabucasa/voice.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Ignore ASYNC110 on line 294 in remote.py
  hass_nabucasa/remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Adjust typing of FilesHandlerListEntry (#735)
  hass_nabucasa/cloud_api.py
  tests/test_cloud_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add endpoint for cloud backup file deletion
  hass_nabucasa/cloud_api.py
  tests/test_cloud_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add endpoint for cloud backup file deletion (#745)
  hass_nabucasa/cloud_api.py
  tests/test_cloud_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add ContentTypeError catch for files delete request
  hass_nabucasa/cloud_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Bump package version to 0.85.0
  pyproject.toml
Due: check-toml

Add ContentTypeError catch for files delete request (#746)
  hass_nabucasa/cloud_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Bump package version to 0.85.0 (#747)
  pyproject.toml
Due: check-toml

Update API usage
  hass_nabucasa/cloud_api.py
  tests/test_cloud_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Bump version to 0.86.0
  pyproject.toml
Due: check-toml

Update Cloud ICE server fetch update and reset logic
  hass_nabucasa/ice_servers.py
  tests/test_ice_servers.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Adjust delete API
  hass_nabucasa/cloud_api.py
  tests/test_cloud_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Move common try logic out to finally
  hass_nabucasa/ice_servers.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Move common try logic out of it
  hass_nabucasa/ice_servers.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

lint
  hass_nabucasa/cloud_api.py
  tests/test_cloud_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update Cloud ICE server fetch update and reset logic (#756)
  hass_nabucasa/ice_servers.py
  tests/test_ice_servers.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update API usage (#755)
  hass_nabucasa/cloud_api.py
  tests/test_cloud_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Bump version to 0.86.0 (#754)
  pyproject.toml
Due: check-toml

Add support for MFA login flow
  hass_nabucasa/__init__.py
  hass_nabucasa/auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add tests for MFA login
  tests/test_auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

Separate login and MFA verification flows
  hass_nabucasa/__init__.py
  hass_nabucasa/auth.py
  hass_nabucasa/const.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Move MFA session handling out of the package
  hass_nabucasa/__init__.py
  hass_nabucasa/auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Fix tests
  tests/test_auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

Add session tokens to MFARequired error
  hass_nabucasa/auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Code improvements, unused code removal
  hass_nabucasa/auth.py
  hass_nabucasa/const.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Changed assert text
  hass_nabucasa/auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add support for MFA login flow (#757)
  hass_nabucasa/__init__.py
  hass_nabucasa/auth.py
  tests/test_auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Bump version to 0.87.0
  pyproject.toml
Due: check-toml

Bump version to 0.87.0 (#760)
  pyproject.toml
Due: check-toml

Update pyproject.toml
  pyproject.toml
Due: check-toml

Migrate Alexa server to Servicehandlers
  hass_nabucasa/__init__.py
  hass_nabucasa/cloud_api.py
  hass_nabucasa/const.py
  tests/test_cloud_api.py
  tests/test_init.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add Alexa path to Servicehandlers domain
  hass_nabucasa/cloud_api.py
  tests/test_cloud_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Migrate Alexa server to Servicehandlers (#770)
  hass_nabucasa/__init__.py
  hass_nabucasa/cloud_api.py
  hass_nabucasa/const.py
  tests/test_cloud_api.py
  tests/test_init.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy
