Repository NabuCasa/hass-nabucasa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, pylint, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff Linter
        language: system
        types: [python]
        entry: python3 -m ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: Ruff Formatter
        language: system
        types: [python]
        entry: python3 -m ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-ast
        name: Check Python AST
        language: system
        types: [python]
        entry: check-ast
      - id: check-case-conflict
        name: Check for case conflicts
        language: system
        entry: check-case-conflict
      - id: check-docstring-first
        name: heck docstring is first
        language: system
        types: [python]
        entry: check-docstring-first
      - id: check-executables-have-shebangs
        name: Check that executables have shebangs
        language: system
        types: [text, executable]
        entry: check-executables-have-shebangs
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: check-json
      - id: check-merge-conflict
        name: Check for merge conflicts
        language: system
        types: [text]
        entry: check-merge-conflict
      - id: check-toml
        name: Check TOML files
        language: system
        types: [toml]
        entry: check-toml
      - id: codespell
        name: Check code for common misspellings
        language: system
        types: [text]
        entry: codespell
      - id: detect-private-key
        name: Detect Private Keys
        language: system
        types: [text]
        entry: detect-private-key
      - id: end-of-file-fixer
        name: Fix End of Files
        language: system
        types: [text]
        entry: end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: Don't commit to master branch
        language: system
        entry: no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=master
      - id: pylint
        name: Starring code with pylint
        entry: python3 -m pylint
        language: system
        types: [python]
        require_serial: true
        files: ^hass_nabucasa/.+\.py$
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        language: system
        types: [text]
        entry: trailing-whitespace-fixer
        stages: [pre-commit, pre-push, manual]
      - id: mypy
        name: mypy
        entry: python3 -m mypy
        language: system
        types: [python]
        require_serial: true
        files: ^hass_nabucasa/.+\.py$

Bump version to 0.88.0
  pyproject.toml
Due: check-toml

Bump version to 0.88.0 (#771)
  pyproject.toml
Due: check-toml

Log Alexa API warning as INFO
  hass_nabucasa/cloud_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Set version to 0.88.1
  pyproject.toml
Due: check-toml

Log Alexa API warning as INFO (#776)
  hass_nabucasa/cloud_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Set version to 0.88.1 (#777)
  pyproject.toml
Due: check-toml

Add Files class for upload/download files
  hass_nabucasa/__init__.py
  hass_nabucasa/files.py
  tests/test_files.py
  tests/utils/aiohttp.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add Files class for upload/download files (#781)
  hass_nabucasa/__init__.py
  hass_nabucasa/files.py
  tests/test_files.py
  tests/utils/aiohttp.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add InstanceApi class
  hass_nabucasa/__init__.py
  hass_nabucasa/instance_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

typo
  hass_nabucasa/instance_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add api baseclass
  hass_nabucasa/api.py
  hass_nabucasa/instance_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

move hostname out of init
  hass_nabucasa/api.py
  hass_nabucasa/instance_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

check for correct exception
  hass_nabucasa/instance_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update voices
  hass_nabucasa/voice.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Throw spesific error for non-retryable codes
  hass_nabucasa/files.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

adapt non-retryable
  hass_nabucasa/api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

lint
  hass_nabucasa/files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

lint
  hass_nabucasa/api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Implement common baseclass for API classes
  hass_nabucasa/api.py
  hass_nabucasa/files.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Throw specific error for non-retryable codes (#789)
  hass_nabucasa/files.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Adapt retryable codes
  hass_nabucasa/api.py
  hass_nabucasa/files.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

format
  hass_nabucasa/files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Seperate errors
  hass_nabucasa/api.py
  hass_nabucasa/files.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

lint
  hass_nabucasa/api.py
  hass_nabucasa/files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Set Python 3.13 as minimum
  .devcontainer.json
  .github/workflows/ci.yml
  pyproject.toml
Due: check-json, check-toml

add raw api handler for generic calls
  hass_nabucasa/api.py
  hass_nabucasa/files.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

lint
  .devcontainer.json
Due: check-json

Add method to the logging
  hass_nabucasa/api.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Set Python 3.13 as minimum (#791)
  .devcontainer.json
  .github/workflows/ci.yml
  pyproject.toml
Due: check-json, check-toml

Format with ruff
  hass_nabucasa/auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Clean ruff ignore setting warnings
  pyproject.toml
  tests/ruff.toml
Due: check-toml

Implement common baseclass for API classes (#790)
  hass_nabucasa/api.py
  hass_nabucasa/files.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add InstanceApi class
  hass_nabucasa/__init__.py
  hass_nabucasa/instance_api.py
  tests/test_instance_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Buump the project version to 0.89.0
  pyproject.toml
Due: check-toml

Add account API
  hass_nabucasa/account_api.py
  tests/test_account_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

lint
  tests/test_account_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

Add to init
  hass_nabucasa/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Buump the project version to 0.89.0 (#795)
  pyproject.toml
Due: check-toml

Add InstanceApi class (#783)
  hass_nabucasa/__init__.py
  hass_nabucasa/instance_api.py
  tests/test_instance_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy
