Repository NabuCasa/hass-nabucasa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, codespell, pylint, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff Linter
        language: system
        types: [python]
        entry: python3 -m ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: Ruff Formatter
        language: system
        types: [python]
        entry: python3 -m ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-ast
        name: Check Python AST
        language: system
        types: [python]
        entry: check-ast
      - id: check-case-conflict
        name: Check for case conflicts
        language: system
        entry: check-case-conflict
      - id: check-docstring-first
        name: heck docstring is first
        language: system
        types: [python]
        entry: check-docstring-first
      - id: check-executables-have-shebangs
        name: Check that executables have shebangs
        language: system
        types: [text, executable]
        entry: check-executables-have-shebangs
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: check-json
      - id: check-merge-conflict
        name: Check for merge conflicts
        language: system
        types: [text]
        entry: check-merge-conflict
      - id: check-toml
        name: Check TOML files
        language: system
        types: [toml]
        entry: check-toml
      - id: codespell
        name: Check code for common misspellings
        language: system
        types: [text]
        entry: codespell
        exclude: voice_data.py
      - id: detect-private-key
        name: Detect Private Keys
        language: system
        types: [text]
        entry: detect-private-key
      - id: end-of-file-fixer
        name: Fix End of Files
        language: system
        types: [text]
        entry: end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: Don't commit to the main branch
        language: system
        entry: no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: Starring code with pylint
        entry: python3 -m pylint
        language: system
        types: [python]
        require_serial: true
        files: ^hass_nabucasa/.+\.py$
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        language: system
        types: [text]
        entry: trailing-whitespace-fixer
        stages: [pre-commit, pre-push, manual]
      - id: mypy
        name: mypy
        entry: python3 -m mypy
        language: system
        types: [python]
        require_serial: true
        files: ^hass_nabucasa/.+\.py$

Add more alexa_api imports to root (#944)
  hass_nabucasa/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add claude and copilot instructions (#945)
  .devcontainer.json
  .github/copilot-instructions.md
  .gitignore
  CLAUDE.md
Due: check-json, codespell

Use SPDX license identifier
  pyproject.toml
Due: check-toml, codespell

Add certificate status documentation
  docs/certificate_status.md
Due: codespell

Improve certificate revoking warn log message
  hass_nabucasa/acme.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Improve certificate revoking warn log message (#949)
  hass_nabucasa/acme.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Refactor remote tests (#943)
  tests/__snapshots__/test_remote.ambr
  tests/conftest.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Increese timeout from 10 to 30 seconds for GoogleReportState.request_sync
  hass_nabucasa/google_report_state.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Increese timeout from 10 to 30 seconds for GoogleReportState.request_sync (#958)
  hass_nabucasa/google_report_state.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add location hint support to instance registration API
  hass_nabucasa/instance_api.py
  tests/__snapshots__/test_instance_api.ambr
  tests/test_instance_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add geographic location property to CloudClient
  hass_nabucasa/client.py
  tests/common.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

As it can be None, we do not to declare it as abstract.
  hass_nabucasa/client.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Bump snitun from 0.44.0 to 0.45.1
  pyproject.toml
Due: check-toml, codespell

Bump snitun from 0.44.0 to 0.45.1 (#967)
  pyproject.toml
Due: check-toml, codespell

Use new servicehandlers endpoint for webhook registration
  hass_nabucasa/__init__.py
  hass_nabucasa/cloudhooks.py
  hass_nabucasa/const.py
  tests/conftest.py
  tests/test_cloudhooks.py
  tests/test_init.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Use new servicehandlers endpoint for webhook registration (#968)
  hass_nabucasa/__init__.py
  hass_nabucasa/cloudhooks.py
  hass_nabucasa/const.py
  tests/conftest.py
  tests/test_cloudhooks.py
  tests/test_init.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add query params feature to API class
  hass_nabucasa/api.py
  tests/test_api.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add Query | None
  hass_nabucasa/api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Hide query param values in log
  hass_nabucasa/api.py
  tests/test_api.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Improve allowed params check
  hass_nabucasa/api.py
  tests/test_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add query params feature to API class (#971)
  hass_nabucasa/api.py
  tests/test_api.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Migrate to V2 files list endpoint
  hass_nabucasa/files.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add api_server configuration to Cloud class and update defaults
  hass_nabucasa/__init__.py
  hass_nabucasa/const.py
  tests/conftest.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add api_server configuration to Cloud class and update defaults (#973)
  hass_nabucasa/__init__.py
  hass_nabucasa/const.py
  tests/conftest.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add Home Assistant development environment
  .devcontainer.json
  README.md
  config/configuration.yaml
  scripts/develop
Due: check-json, codespell

Add config to .gitignore
  .gitignore
Due: codespell

Add codespell ignore list
  pyproject.toml
Due: check-toml, codespell

Update hass_nabucasa/files.py
  hass_nabucasa/files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Return files list on upload
  hass_nabucasa/files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Migrate to V2 files list endpoint (#972)
  hass_nabucasa/files.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Set google state report request sync to 300
  hass_nabucasa/google_report_state.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Increese default API timeout from 10 to 60 seconds
  hass_nabucasa/api.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Set google state report request sync to 300 (#983)
  hass_nabucasa/google_report_state.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Increese default API timeout from 10 to 60 seconds (#982)
  hass_nabucasa/api.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Use SPDX license identifier (#946)
  pyproject.toml
Due: check-toml, codespell

Refactor voice API tests to use Cloud instance and update mock server URLs
  tests/__snapshots__/test_voice_api.ambr
  tests/test_voice.py
  tests/test_voice_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Apply suggestion from @Copilot
  tests/test_voice.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell
