Repository NabuCasa/hass-nabucasa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, codespell, pylint, mypy

ruff-check:
  name: Ruff Linter
  language: system
  entry: python3 -m ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: Ruff Formatter
  language: system
  entry: python3 -m ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-ast:
  name: Check Python AST
  language: system
  entry: check-ast

check-docstring-first:
  name: heck docstring is first
  language: system
  entry: check-docstring-first

check-json:
  name: Check JSON files
  language: system
  entry: check-json

check-toml:
  name: Check TOML files
  language: system
  entry: check-toml

codespell:
  name: Check code for common misspellings
  language: system
  entry: codespell

pylint:
  name: Starring code with pylint
  entry: python3 -m pylint
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: python3 -m mypy
  language: system
  require_serial: true

Rename backoff methods for clarity
  hass_nabucasa/remote.py
  hass_nabucasa/utils.py
  tests/test_utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Remove PEM header assertion that trips detect-private-key
  tests/test_acme.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Move RSA public exponent into a module constant
  hass_nabucasa/acme.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Adjust authentication timeouts and botocore configuration for connection handling
  hass_nabucasa/auth/cognito.py
  hass_nabucasa/auth/const.py
  tests/test_auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Extend AWS_EXCEPTIONS
  hass_nabucasa/auth/cognito.py
  tests/test_auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Fix test warnings
  tests/conftest.py
  tests/test_init.py
  tests/test_utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Fix test warnings (#1197)
  tests/conftest.py
  tests/test_init.py
  tests/test_utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Extend AWS_EXCEPTIONS (#1196)
  hass_nabucasa/auth/cognito.py
  tests/test_auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Move disconnection from speech to text service log
  hass_nabucasa/stt_v2.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Implement ping privilege resolution and enhance latency checks
  hass_nabucasa/remote.py
  hass_nabucasa/utils.py
  tests/test_remote.py
  tests/test_utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Implement ping privilege resolution and enhance latency checks (#1199)
  hass_nabucasa/remote.py
  hass_nabucasa/utils.py
  tests/test_remote.py
  tests/test_utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Import boto3 and pycognito only when a Cognito client is created
  hass_nabucasa/auth/cognito.py
  tests/test_auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Load trimmed botocore data for the Cognito client
  hass_nabucasa/auth/botocore_data/cognito-idp/2016-04-18/service-2.json
  hass_nabucasa/auth/botocore_data/endpoints.json
  hass_nabucasa/auth/cognito.py
  pyproject.toml
  scripts/update_botocore_data.py
  tests/test_botocore_data.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, codespell, pylint, mypy

Keep botocore.session out of the module imports
  hass_nabucasa/auth/cognito.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Test the first Cognito client creation through the deferred imports
  tests/test_auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Compare auth fields of the trimmed Cognito operations
  tests/test_botocore_data.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Reuse one botocore Config so the Cognito client cache hits
  hass_nabucasa/auth/cognito.py
  tests/test_auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add Backoff utility for retry loops
  .github/copilot-instructions.md
  hass_nabucasa/utils.py
  tests/test_utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Reject non-finite Backoff options
  hass_nabucasa/utils.py
  tests/test_utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Assign the Backoff interval once
  hass_nabucasa/utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Make the Backoff jitter test deterministic
  tests/test_utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Clarify that jittered Backoff delays vary below the maximum
  hass_nabucasa/utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  codespell: any file but: voice_data.py
  pylint: any of: ^hass_nabucasa/.+\.py$ and \.py$
  mypy: any of: ^hass_nabucasa/.+\.py$ and \.py$
