Repository NabuCasa/hass-nabucasa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, pylint, mypy

ruff-check:
  name: Ruff Linter
  language: system
  entry: python3 -m ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: Ruff Formatter
  language: system
  entry: python3 -m ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-ast:
  name: Check Python AST
  language: system
  entry: check-ast

check-docstring-first:
  name: heck docstring is first
  language: system
  entry: check-docstring-first

check-json:
  name: Check JSON files
  language: system
  entry: check-json

check-toml:
  name: Check TOML files
  language: system
  entry: check-toml

pylint:
  name: Starring code with pylint
  entry: python3 -m pylint
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: python3 -m mypy
  language: system
  require_serial: true

Refactor billing plan type retrieval to improve error handling and remove redundant method
  hass_nabucasa/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

lint
  hass_nabucasa/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add WAV output type for TTS
  hass_nabucasa/voice.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add WAV output type for TTS (#905)
  hass_nabucasa/voice.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Refactor billing plan type retrieval to improve error handling (#904)
  hass_nabucasa/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Change the repair issue created from connection issues
  hass_nabucasa/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Change the repair issue created from connection issues (#906)
  hass_nabucasa/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add pre-request logging for API calls
  hass_nabucasa/api.py
  pyproject.toml
  tests/test_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint, mypy

Add pre-request logging for API calls (#908)
  hass_nabucasa/api.py
  pyproject.toml
  tests/test_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint, mypy

Move instance register and snitun token to new handler
  hass_nabucasa/api.py
  hass_nabucasa/cloud_api.py
  hass_nabucasa/instance_api.py
  hass_nabucasa/remote.py
  tests/conftest.py
  tests/test_cloud_api.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

cleanup
  hass_nabucasa/cloud_api.py
  hass_nabucasa/remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

lint
  hass_nabucasa/instance_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Use api_exception_handler for error handling in Files list and delete
  hass_nabucasa/files.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Remove unused files handling functions and related tests from cloud API
  hass_nabucasa/cloud_api.py
  tests/test_cloud_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add response to API exceptions
  hass_nabucasa/api.py
  tests/test_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Enhance Alexa API error handling and add raw response support
  hass_nabucasa/alexa_api.py
  hass_nabucasa/api.py
  tests/test_alexa_api.py
  tests/test_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add process_tts_stream for voice
  hass_nabucasa/voice.py
  pyproject.toml
  tests/__snapshots__/test_voice.ambr
  tests/test_voice.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint, mypy

Accumulate text chunks while audio is being synthesized
  hass_nabucasa/voice.py
  tests/__snapshots__/test_voice.ambr
  tests/test_voice.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add process_tts_stream for voice (#907)
  hass_nabucasa/voice.py
  pyproject.toml
  tests/__snapshots__/test_voice.ambr
  tests/test_voice.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint, mypy

Use api_exception_handler for error handling in Files list and delete (#910)
  hass_nabucasa/files.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Move instance register and snitun token to new handler (#909)
  hass_nabucasa/api.py
  hass_nabucasa/cloud_api.py
  hass_nabucasa/instance_api.py
  hass_nabucasa/remote.py
  tests/conftest.py
  tests/test_cloud_api.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update pyproject.toml
  pyproject.toml
Due: check-toml

Split out sentences 1 and 2-4
  hass_nabucasa/voice.py
  tests/__snapshots__/test_voice.ambr
  tests/test_voice.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Bump sentence-stream
  pyproject.toml
Due: check-toml

Use pop
  hass_nabucasa/voice.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Split out sentences 1 and 2-4 in TTS streaming (#916)
  hass_nabucasa/voice.py
  pyproject.toml
  tests/__snapshots__/test_voice.ambr
  tests/test_voice.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint, mypy

Add more JWS verification error handling
  hass_nabucasa/acme.py
  tests/test_acme.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Enhance Alexa API error handling and add raw response support (#913)
  hass_nabucasa/alexa_api.py
  hass_nabucasa/api.py
  tests/test_alexa_api.py
  tests/test_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add more JWS verification error handling (#917)
  hass_nabucasa/acme.py
  tests/test_acme.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add files exports to __all__
  hass_nabucasa/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Remove unused files handling functions and related tests from cloud API (#911)
  hass_nabucasa/__init__.py
  hass_nabucasa/cloud_api.py
  tests/test_cloud_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Move request_sync into GoogleReportState and remove cloud_api
  hass_nabucasa/__init__.py
  hass_nabucasa/api.py
  hass_nabucasa/cloud_api.py
  hass_nabucasa/google_report_state.py
  tests/test_cloud_api.py
  tests/test_google_report_state_sync.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Fix typo in MigratePaypalAgreementInfo class name and update references
  hass_nabucasa/__init__.py
  hass_nabucasa/payments_api.py
  tests/test_payments_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Fix typo in MigratePaypalAgreementInfo class name and update references (#919)
  hass_nabucasa/__init__.py
  hass_nabucasa/payments_api.py
  tests/test_payments_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Move /instance/resolve_dns_cname to a dedicated accoutns api class
  hass_nabucasa/__init__.py
  hass_nabucasa/accounts_api.py
  hass_nabucasa/instance_api.py
  tests/test_accounts_api.py
  tests/test_instance_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

adjust remote
  hass_nabucasa/remote.py
  tests/conftest.py
  tests/test_accounts_api.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

lint
  tests/conftest.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

Move /instance/resolve_dns_cname to a dedicated accounts api class (#920)
  hass_nabucasa/__init__.py
  hass_nabucasa/accounts_api.py
  hass_nabucasa/instance_api.py
  hass_nabucasa/remote.py
  tests/conftest.py
  tests/test_accounts_api.py
  tests/test_instance_api.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add pytest-socket to block sockets in tests
  pyproject.toml
Due: check-toml

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  pylint: any of: ^hass_nabucasa/.+\.py$ and \.py$
  mypy: any of: ^hass_nabucasa/.+\.py$ and \.py$
