Repository NabuCasa/hass-nabucasa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, codespell, pylint, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff Linter
        language: system
        types: [python]
        entry: python3 -m ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: Ruff Formatter
        language: system
        types: [python]
        entry: python3 -m ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-ast
        name: Check Python AST
        language: system
        types: [python]
        entry: check-ast
      - id: check-case-conflict
        name: Check for case conflicts
        language: system
        entry: check-case-conflict
      - id: check-docstring-first
        name: heck docstring is first
        language: system
        types: [python]
        entry: check-docstring-first
      - id: check-executables-have-shebangs
        name: Check that executables have shebangs
        language: system
        types: [text, executable]
        entry: check-executables-have-shebangs
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: check-json
      - id: check-merge-conflict
        name: Check for merge conflicts
        language: system
        types: [text]
        entry: check-merge-conflict
      - id: check-toml
        name: Check TOML files
        language: system
        types: [toml]
        entry: check-toml
      - id: codespell
        name: Check code for common misspellings
        language: system
        types: [text]
        entry: codespell
        exclude: voice_data.py
      - id: detect-private-key
        name: Detect Private Keys
        language: system
        types: [text]
        entry: detect-private-key
      - id: end-of-file-fixer
        name: Fix End of Files
        language: system
        types: [text]
        entry: end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: Don't commit to the main branch
        language: system
        entry: no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: Starring code with pylint
        entry: python3 -m pylint
        language: system
        types: [python]
        require_serial: true
        files: ^hass_nabucasa/.+\.py$
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        language: system
        types: [text]
        entry: trailing-whitespace-fixer
        stages: [pre-commit, pre-push, manual]
      - id: mypy
        name: mypy
        entry: python3 -m mypy
        language: system
        types: [python]
        require_serial: true
        files: ^hass_nabucasa/.+\.py$

Enhance latency check error handling and update CheckLatencyHostResult structure
  hass_nabucasa/utils.py
  tests/__snapshots__/test_utils.ambr
  tests/test_utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Update latency check to include min and max RTT values, adjust privileged ping defaults, and enhance related tests
  hass_nabucasa/__init__.py
  hass_nabucasa/instance_api.py
  hass_nabucasa/remote.py
  hass_nabucasa/utils.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Refactor async_check_latency to remove sorting of hosts and handle unreachable hosts directly
  hass_nabucasa/utils.py
  tests/__snapshots__/test_utils.ambr
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add latency results tracking by location
  hass_nabucasa/__init__.py
  hass_nabucasa/remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Replace async_timeout with asyncio.timeout
  hass_nabucasa/acme.py
  hass_nabucasa/auth/cognito.py
  hass_nabucasa/cloudhooks.py
  hass_nabucasa/remote.py
  pyproject.toml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, pylint, mypy

Replace async_timeout with asyncio.timeout (#1083)
  hass_nabucasa/acme.py
  hass_nabucasa/auth/cognito.py
  hass_nabucasa/cloudhooks.py
  hass_nabucasa/remote.py
  pyproject.toml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, pylint, mypy

Refactor async_check_latency to handle SocketPermissionError retries and update tests with new address
  hass_nabucasa/utils.py
  tests/__snapshots__/test_utils.ambr
  tests/test_utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add logging for ICMP ping failure due to insufficient privileges in async_check_latency
  hass_nabucasa/utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add 'reachable' field to PingResult and update related tests for latency checks
  hass_nabucasa/instance_api.py
  hass_nabucasa/remote.py
  tests/__snapshots__/test_utils.ambr
  tests/test_remote.py
  tests/test_utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Update devcontainer image to base:ubuntu and add Python feature
  .devcontainer.json
Due: check-json, codespell

Update tests/test_utils.py
  tests/test_utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Update expected result structure in test_ping_targets_endpoint_success
  tests/test_instance_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Add Python 3.15 to CI test matrix
  .github/workflows/ci.yml
Due: codespell

Update devcontainer image to base:ubuntu and add Python feature (#1084)
  .devcontainer.json
Due: check-json, codespell

Set Python 3.14 as the minimum version
  .devcontainer.json
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  pyproject.toml
Due: check-json, check-toml, codespell

Update Python version in CI matrix to 3.15.0-alpha.5
  .github/workflows/ci.yml
Due: codespell

lint
  .devcontainer.json
Due: check-json, codespell

Update ruff target version to Python 3.14
  pyproject.toml
Due: check-toml, codespell

run ruff
  hass_nabucasa/acme.py
  hass_nabucasa/remote.py
  hass_nabucasa/service_discovery.py
  hass_nabucasa/utils.py
  tests/ruff.toml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, pylint, mypy

Set Python 3.14 as the minimum version (#1085)
  .devcontainer.json
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  hass_nabucasa/acme.py
  hass_nabucasa/remote.py
  hass_nabucasa/service_discovery.py
  hass_nabucasa/utils.py
  pyproject.toml
  tests/ruff.toml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, codespell, pylint, mypy

Apply suggestions from code review
  hass_nabucasa/remote.py
  hass_nabucasa/utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Refactor latency check variable names for clarity
  hass_nabucasa/remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add ping targets functionality for latency measurement (#1077)
  hass_nabucasa/__init__.py
  hass_nabucasa/instance_api.py
  hass_nabucasa/remote.py
  hass_nabucasa/service_discovery.py
  hass_nabucasa/utils.py
  tests/__snapshots__/test_instance_api.ambr
  tests/__snapshots__/test_remote.ambr
  tests/__snapshots__/test_utils.ambr
  tests/fixtures/service_discovery.json
  tests/test_instance_api.py
  tests/test_remote.py
  tests/test_utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, codespell, pylint, mypy

Change log level from warning to info for insufficient privileges in async_check_latency
  hass_nabucasa/utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Change log level from warning to info for insufficient privileges in async_check_latency (#1093)
  hass_nabucasa/utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add progress tracking to file upload functionality
  hass_nabucasa/files.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Potential fix for pull request finding
  hass_nabucasa/files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Potential fix for pull request finding
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

lint
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Add progress tracking to file upload functionality (#1094)
  hass_nabucasa/files.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add Renovate configuration
  renovate.json
Due: check-json, codespell

Delete .github/dependabot.yml
  .github/dependabot.yml
Due: codespell

Apply suggestion from @ludeeus
  renovate.json
Due: check-json, codespell

Add Renovate configuration (#1100)
  .github/dependabot.yml
  renovate.json
Due: check-json, codespell

Fix certificate handler crashing on stale in-memory cert
  hass_nabucasa/acme.py
  hass_nabucasa/remote.py
  tests/__snapshots__/test_remote.ambr
  tests/test_acme.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Remove sync I/O from certificate_available and load_certificate
  hass_nabucasa/acme.py
  tests/test_acme.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Restore load_certificate early-return
  hass_nabucasa/acme.py
  tests/test_acme.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy
