Repository NabuCasa/hass-nabucasa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, pylint, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff Linter
        language: system
        types: [python]
        entry: python3 -m ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: Ruff Formatter
        language: system
        types: [python]
        entry: python3 -m ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-ast
        name: Check Python AST
        language: system
        types: [python]
        entry: check-ast
      - id: check-case-conflict
        name: Check for case conflicts
        language: system
        entry: check-case-conflict
      - id: check-docstring-first
        name: heck docstring is first
        language: system
        types: [python]
        entry: check-docstring-first
      - id: check-executables-have-shebangs
        name: Check that executables have shebangs
        language: system
        types: [text, executable]
        entry: check-executables-have-shebangs
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: check-json
      - id: check-merge-conflict
        name: Check for merge conflicts
        language: system
        types: [text]
        entry: check-merge-conflict
      - id: check-toml
        name: Check TOML files
        language: system
        types: [toml]
        entry: check-toml
      - id: codespell
        name: Check code for common misspellings
        language: system
        types: [text]
        entry: codespell
      - id: detect-private-key
        name: Detect Private Keys
        language: system
        types: [text]
        entry: detect-private-key
      - id: end-of-file-fixer
        name: Fix End of Files
        language: system
        types: [text]
        entry: end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: Don't commit to master branch
        language: system
        entry: no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=master
      - id: pylint
        name: Starring code with pylint
        entry: python3 -m pylint
        language: system
        types: [python]
        require_serial: true
        files: ^hass_nabucasa/.+\.py$
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        language: system
        types: [text]
        entry: trailing-whitespace-fixer
        stages: [pre-commit, pre-push, manual]
      - id: mypy
        name: mypy
        entry: python3 -m mypy
        language: system
        types: [python]
        require_serial: true
        files: ^hass_nabucasa/.+\.py$

Add account API class (#796)
  hass_nabucasa/__init__.py
  hass_nabucasa/account_api.py
  tests/test_account_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add connection check feature to authentication process
  hass_nabucasa/__init__.py
  hass_nabucasa/api.py
  hass_nabucasa/auth.py
  hass_nabucasa/instance_api.py
  tests/conftest.py
  tests/test_auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Change StorageType to be StrEnum class
  hass_nabucasa/files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Set the package version from the tag name
  .github/workflows/pythonpublish.yml
  pyproject.toml
Due: check-toml

Use sed instead
  .github/workflows/pythonpublish.yml
Due: none

Change StorageType to be StrEnum class (#798)
  hass_nabucasa/files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Set the package version from the tag name (#799)
  .github/workflows/pythonpublish.yml
  pyproject.toml
Due: check-toml

Add list and delete handler to Files
  hass_nabucasa/api.py
  hass_nabucasa/files.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

lint
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

Add list and delete handler to Files (#800)
  hass_nabucasa/api.py
  hass_nabucasa/files.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

More consistent logging in newer classes
  hass_nabucasa/files.py
  hass_nabucasa/instance_api.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

More consistent logging in newer classes (#801)
  hass_nabucasa/files.py
  hass_nabucasa/instance_api.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Fix docstring
  tests/test_auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

Log XML errors on upload
  hass_nabucasa/files.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add base64 md5 hash calculation to files
  hass_nabucasa/files.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Format code
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

Add base64 md5 hash calculation to files (#805)
  hass_nabucasa/files.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Extract and make it more spesific
  hass_nabucasa/__init__.py
  hass_nabucasa/auth.py
  hass_nabucasa/instance_api.py
  tests/conftest.py
  tests/test_auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Adjust
  hass_nabucasa/files.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

LINT
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

move replacer
  hass_nabucasa/files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add text from 400 R2 responses to FilesError exception (#804)
  hass_nabucasa/files.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

add to base methods
  hass_nabucasa/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add connection check feature to authentication process (#797)
  hass_nabucasa/__init__.py
  hass_nabucasa/api.py
  hass_nabucasa/auth.py
  hass_nabucasa/instance_api.py
  tests/conftest.py
  tests/test_auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add text from 400-499 R2 responses to FilesError exception
  hass_nabucasa/files.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add text from 400-499 R2 responses to FilesError exception (#806)
  hass_nabucasa/files.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add test
  tests/common.py
  tests/conftest.py
  tests/test_init.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

Fix non threadsafe user message call
  hass_nabucasa/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Fix non threadsafe user message call (#813)
  hass_nabucasa/__init__.py
  tests/common.py
  tests/conftest.py
  tests/test_init.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Bump snitun to 0.41.3
  pyproject.toml
Due: check-toml

Add missing async_timeout dep
  pyproject.toml
Due: check-toml

Add missing async_timeout dep (#815)
  pyproject.toml
Due: check-toml

Update pyproject.toml
  pyproject.toml
Due: check-toml

Extend InstanceConnectionDetails with name and version
  hass_nabucasa/instance_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

sort
  hass_nabucasa/instance_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Extend InstanceConnectionDetails with name and version (#816)
  hass_nabucasa/instance_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Specify SHA for all actions
  .github/workflows/ci.yml
  .github/workflows/pythonpublish.yml
  .github/workflows/release-drafter.yml
Due: none

Specify SHA for all actions (#822)
  .github/workflows/ci.yml
  .github/workflows/pythonpublish.yml
  .github/workflows/release-drafter.yml
Due: none

Run ruff
  hass_nabucasa/cloud_api.py
  hass_nabucasa/remote.py
  tests/conftest.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy
