Repository NabuCasa/hass-nabucasa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, pylint, mypy

ruff-check:
  name: Ruff Linter
  language: system
  entry: python3 -m ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: Ruff Formatter
  language: system
  entry: python3 -m ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-ast:
  name: Check Python AST
  language: system
  entry: check-ast

check-docstring-first:
  name: heck docstring is first
  language: system
  entry: check-docstring-first

check-json:
  name: Check JSON files
  language: system
  entry: check-json

check-toml:
  name: Check TOML files
  language: system
  entry: check-toml

pylint:
  name: Starring code with pylint
  entry: python3 -m pylint
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: python3 -m mypy
  language: system
  require_serial: true

Raise a CloudApiNonRetryableError exception if subscription has expired and the status was 403
  hass_nabucasa/api.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

fix docstring
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

Raise a CloudApiNonRetryableError exception if subscription has expired and the status was 403 (#834)
  hass_nabucasa/api.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update pyproject.toml
  pyproject.toml
Due: check-toml

Move path_fullchain.exists check into handler already running in the executor
  hass_nabucasa/acme.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Move path_fullchain.exists check into handler already running in the executor (#836)
  hass_nabucasa/acme.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add script to generate voice data
  .pre-commit-config.yaml
  README.md
  scripts/update_voice_data.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

Add generated data
  hass_nabucasa/voice_data.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Remove default comment
  hass_nabucasa/voice.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Rename variable to TTS_VOICES
  hass_nabucasa/voice_data.py
  scripts/update_voice_data.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Use new data
  hass_nabucasa/voice.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

typing
  hass_nabucasa/voice_data.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Newer better ruff
  hass_nabucasa/voice.py
  scripts/update_voice_data.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Allow passing in style to process_tts
  hass_nabucasa/voice.py
  tests/__snapshots__/test_voice.ambr
  tests/test_voice.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Clean up XML generation
  hass_nabucasa/voice.py
  tests/__snapshots__/test_voice.ambr
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Clean up voice name and skip variants
  scripts/update_voice_data.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

Update generated data
  hass_nabucasa/voice_data.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Remove backwards compat var
  hass_nabucasa/voice.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add typing
  hass_nabucasa/voice_data.py
  scripts/update_voice_data.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add api_exception_handler decorator
  hass_nabucasa/account_api.py
  hass_nabucasa/api.py
  hass_nabucasa/instance_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add test
  tests/test_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

Add new voice API class to interface with the voice part of our service
  hass_nabucasa/__init__.py
  hass_nabucasa/voice.py
  hass_nabucasa/voice_api.py
  tests/test_voice.py
  tests/test_voice_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Use old-style exception handling for now.
  hass_nabucasa/voice_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

lint
  tests/test_voice_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

Update tests/test_voice_api.py
  tests/test_voice_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

Add api_exception_handler decorator (#842)
  hass_nabucasa/account_api.py
  hass_nabucasa/api.py
  hass_nabucasa/instance_api.py
  tests/test_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Adapt api_exception_handler
  hass_nabucasa/voice_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add new voice API class to interface with the voice part of our service (#843)
  hass_nabucasa/__init__.py
  hass_nabucasa/voice.py
  hass_nabucasa/voice_api.py
  tests/test_voice.py
  tests/test_voice_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Lint
  hass_nabucasa/voice.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

More linting
  hass_nabucasa/voice.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

WALRUS
  hass_nabucasa/voice.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Fix import
  hass_nabucasa/voice.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Don't use dict if only name
  scripts/update_voice_data.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

Generated data
  hass_nabucasa/voice_data.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

voice_info can be a str
  hass_nabucasa/voice.py
  tests/__snapshots__/test_voice.ambr
  tests/test_voice.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Fix typing
  hass_nabucasa/voice_data.py
  scripts/update_voice_data.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

RUFF
  scripts/update_voice_data.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

Add reconnection when expired subscriptions are valid again
  hass_nabucasa/__init__.py
  hass_nabucasa/remote.py
  tests/test_init.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add script to generate voice data (#841)
  .pre-commit-config.yaml
  README.md
  hass_nabucasa/voice.py
  hass_nabucasa/voice_data.py
  scripts/update_voice_data.py
  tests/__snapshots__/test_voice.ambr
  tests/test_voice.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Enhance exception handling
  hass_nabucasa/api.py
  hass_nabucasa/voice.py
  tests/test_voice.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  pylint: any of: ^hass_nabucasa/.+\.py$ and \.py$
  mypy: any of: ^hass_nabucasa/.+\.py$ and \.py$
