Repository NabuCasa/hass-nabucasa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, codespell, pylint, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff Linter
        language: system
        types: [python]
        entry: python3 -m ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: Ruff Formatter
        language: system
        types: [python]
        entry: python3 -m ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-ast
        name: Check Python AST
        language: system
        types: [python]
        entry: check-ast
      - id: check-case-conflict
        name: Check for case conflicts
        language: system
        entry: check-case-conflict
      - id: check-docstring-first
        name: heck docstring is first
        language: system
        types: [python]
        entry: check-docstring-first
      - id: check-executables-have-shebangs
        name: Check that executables have shebangs
        language: system
        types: [text, executable]
        entry: check-executables-have-shebangs
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: check-json
      - id: check-merge-conflict
        name: Check for merge conflicts
        language: system
        types: [text]
        entry: check-merge-conflict
      - id: check-toml
        name: Check TOML files
        language: system
        types: [toml]
        entry: check-toml
      - id: codespell
        name: Check code for common misspellings
        language: system
        types: [text]
        entry: codespell
        exclude: voice_data.py
      - id: detect-private-key
        name: Detect Private Keys
        language: system
        types: [text]
        entry: detect-private-key
      - id: end-of-file-fixer
        name: Fix End of Files
        language: system
        types: [text]
        entry: end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: Don't commit to the main branch
        language: system
        entry: no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: Starring code with pylint
        entry: python3 -m pylint
        language: system
        types: [python]
        require_serial: true
        files: ^hass_nabucasa/.+\.py$
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        language: system
        types: [text]
        entry: trailing-whitespace-fixer
        stages: [pre-commit, pre-push, manual]
      - id: mypy
        name: mypy
        entry: python3 -m mypy
        language: system
        types: [python]
        require_serial: true
        files: ^hass_nabucasa/.+\.py$

Refactor event system to support new event types and improve event handling
  hass_nabucasa/__init__.py
  hass_nabucasa/events/__init__.py
  hass_nabucasa/events/bus.py
  hass_nabucasa/events/types.py
  hass_nabucasa/iot.py
  tests/conftest.py
  tests/events/__init__.py
  tests/events/__snapshots__/test_bus.ambr
  tests/events/test_bus.py
  tests/test_events.py
  tests/test_iot.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

make publish take regular arg
  hass_nabucasa/events/bus.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Update hass_nabucasa/__init__.py
  hass_nabucasa/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Update hass_nabucasa/events/bus.py
  hass_nabucasa/events/bus.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add Python 3.14 to CI
  .github/workflows/ci.yml
Due: codespell

Move auth into its own module and define it as cognito
  hass_nabucasa/__init__.py
  hass_nabucasa/auth/__init__.py
  hass_nabucasa/auth/cognito.py
  tests/test_auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

use relative
  hass_nabucasa/auth/cognito.py
  pyproject.toml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, pylint, mypy

Apply suggestion from @Copilot
  hass_nabucasa/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

update logger
  hass_nabucasa/events/bus.py
  tests/events/__snapshots__/test_bus.ambr
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add Python 3.14 to CI (#1004)
  .github/workflows/ci.yml
Due: codespell

Move auth into its own module and define cognito (#1005)
  hass_nabucasa/__init__.py
  hass_nabucasa/auth/__init__.py
  hass_nabucasa/auth/cognito.py
  pyproject.toml
  tests/test_auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, pylint, mypy

Update hass_nabucasa/events/types.py
  hass_nabucasa/events/types.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

init known event types
  hass_nabucasa/events/__init__.py
  hass_nabucasa/events/bus.py
  tests/events/__snapshots__/test_bus.ambr
  tests/events/test_bus.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Use strenum
  hass_nabucasa/events/bus.py
  hass_nabucasa/events/types.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

type updates
  hass_nabucasa/events/bus.py
  hass_nabucasa/events/types.py
  tests/events/__snapshots__/test_bus.ambr
  tests/events/test_bus.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add simple eventbus (#1003)
  hass_nabucasa/__init__.py
  hass_nabucasa/events/__init__.py
  hass_nabucasa/events/bus.py
  hass_nabucasa/events/types.py
  hass_nabucasa/iot.py
  tests/conftest.py
  tests/events/__init__.py
  tests/events/__snapshots__/test_bus.ambr
  tests/events/test_bus.py
  tests/test_iot.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Use client dispatcher for events
  hass_nabucasa/__init__.py
  hass_nabucasa/const.py
  hass_nabucasa/events/bus.py
  tests/events/__snapshots__/test_bus.ambr
  tests/events/test_bus.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Refactor event publishing to use async_publish
  hass_nabucasa/events/bus.py
  hass_nabucasa/iot.py
  tests/conftest.py
  tests/events/__snapshots__/test_bus.ambr
  tests/events/test_bus.py
  tests/test_iot.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

add AI API
  hass_nabucasa/__init__.py
  hass_nabucasa/ai.py
  hass_nabucasa/ai_api.py
  hass_nabucasa/service_discovery.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

remove unneeded logging
  hass_nabucasa/ai.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

merge API with base AI file and change POST to GET
  hass_nabucasa/__init__.py
  hass_nabucasa/ai.py
  hass_nabucasa/ai_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

fix missing super construction
  hass_nabucasa/ai.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

update received parameters from API
  hass_nabucasa/ai.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

add litellm text/data generation functions
  hass_nabucasa/ai.py
  pyproject.toml
  tests/test_ai.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, pylint, mypy

fix lint
  tests/test_ai.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

fix wrong with statement in test
  tests/test_ai.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

fix failing test
  tests/test_ai.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

fix lint again
  tests/test_ai.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

update ai module to respond with LiteLLM params instead of parsing
  hass_nabucasa/ai.py
  tests/test_ai.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

add conversation method with its own model
  hass_nabucasa/ai.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

update doc
  hass_nabucasa/ai.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

rename Ai to AI
  hass_nabucasa/__init__.py
  hass_nabucasa/ai.py
  tests/test_ai.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

rename AI to LLM
  hass_nabucasa/__init__.py
  hass_nabucasa/llm.py
  tests/test_ai.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

rename AI to LLM
  hass_nabucasa/llm.py
  hass_nabucasa/service_discovery.py
  tests/test_llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

overall improvements
  hass_nabucasa/__init__.py
  hass_nabucasa/auth/__init__.py
  hass_nabucasa/llm.py
  hass_nabucasa/service_discovery.py
  pyproject.toml
  tests/test_llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, pylint, mypy

update async_image_edit
  hass_nabucasa/llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

abc
  hass_nabucasa/service_discovery.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

adjust comment
  hass_nabucasa/llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy
