Repository NabuCasa/hass-nabucasa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, codespell, pylint, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff Linter
        language: system
        types: [python]
        entry: python3 -m ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: Ruff Formatter
        language: system
        types: [python]
        entry: python3 -m ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-ast
        name: Check Python AST
        language: system
        types: [python]
        entry: check-ast
      - id: check-case-conflict
        name: Check for case conflicts
        language: system
        entry: check-case-conflict
      - id: check-docstring-first
        name: heck docstring is first
        language: system
        types: [python]
        entry: check-docstring-first
      - id: check-executables-have-shebangs
        name: Check that executables have shebangs
        language: system
        types: [text, executable]
        entry: check-executables-have-shebangs
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: check-json
      - id: check-merge-conflict
        name: Check for merge conflicts
        language: system
        types: [text]
        entry: check-merge-conflict
      - id: check-toml
        name: Check TOML files
        language: system
        types: [toml]
        entry: check-toml
      - id: codespell
        name: Check code for common misspellings
        language: system
        types: [text]
        entry: codespell
        exclude: voice_data.py
      - id: detect-private-key
        name: Detect Private Keys
        language: system
        types: [text]
        entry: detect-private-key
      - id: end-of-file-fixer
        name: Fix End of Files
        language: system
        types: [text]
        entry: end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: Don't commit to the main branch
        language: system
        entry: no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: Starring code with pylint
        entry: python3 -m pylint
        language: system
        types: [python]
        require_serial: true
        files: ^hass_nabucasa/.+\.py$
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        language: system
        types: [text]
        entry: trailing-whitespace-fixer
        stages: [pre-commit, pre-push, manual]
      - id: mypy
        name: mypy
        entry: python3 -m mypy
        language: system
        types: [python]
        require_serial: true
        files: ^hass_nabucasa/.+\.py$

Apply suggestions from code review
  hass_nabucasa/remote.py
  tests/test_acme.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

lint
  tests/test_acme.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

No need for IsADirectoryError
  hass_nabucasa/remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

No need for this
  hass_nabucasa/acme.py
  tests/test_acme.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Catch FileNotFoundError when creating the certificate context (#1127)
  hass_nabucasa/remote.py
  tests/__snapshots__/test_remote.ambr
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Apply suggestion from @ludeeus
  .github/workflows/ci.yml
Due: codespell

Throttle log level for IoT close code 4003
  hass_nabucasa/iot_base.py
  tests/test_iot_base.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Include HTTP status code in 'Failed to parse API response' error
  hass_nabucasa/api.py
  tests/__snapshots__/test_payments_api.ambr
  tests/__snapshots__/test_service_discovery.ambr
  tests/__snapshots__/test_voice_api.ambr
  tests/test_account_api.py
  tests/test_api.py
  tests/test_instance_api.py
  tests/test_payments_api.py
  tests/test_service_discovery.py
  tests/test_voice_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Bump snitun to 0.46.1 and adopt the new SniTunClientAioHttp API
  hass_nabucasa/remote.py
  pyproject.toml
  tests/common.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, pylint, mypy

Include HTTP status code in 'Failed to parse API response' error (#1134)
  hass_nabucasa/api.py
  tests/__snapshots__/test_payments_api.ambr
  tests/__snapshots__/test_service_discovery.ambr
  tests/__snapshots__/test_voice_api.ambr
  tests/test_account_api.py
  tests/test_api.py
  tests/test_instance_api.py
  tests/test_payments_api.py
  tests/test_service_discovery.py
  tests/test_voice_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add Node.js and GitHub CLI features to devcontainer
  .devcontainer-lock.json
  .devcontainer.json
Due: check-json, codespell

Update snitun to 0.46.1
  hass_nabucasa/remote.py
  pyproject.toml
  tests/common.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, pylint, mypy

Pass optional protocol_version from snitun token to connect()
  hass_nabucasa/instance_api.py
  hass_nabucasa/remote.py
  tests/common.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Drop endpoint_connection_error_callback from MockSnitun and type it
  tests/common.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Clarify subscription log message to 'No active subscription found'
  hass_nabucasa/__init__.py
  tests/test_init.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Clarify subscription log message to 'No active subscription found' (#1144)
  hass_nabucasa/__init__.py
  tests/test_init.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add timeout to Cognito token renewal
  hass_nabucasa/__init__.py
  hass_nabucasa/auth/__init__.py
  hass_nabucasa/auth/cognito.py
  hass_nabucasa/auth/const.py
  tests/test_auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Base AuthTimeoutError on connection and authentication errors
  hass_nabucasa/auth/cognito.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Catch NabuCasaBaseError in background token refresh
  hass_nabucasa/auth/cognito.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Potential fix for pull request finding
  hass_nabucasa/auth/cognito.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Potential fix for pull request finding
  tests/test_auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Restore AuthTimeoutError docstring dropped by autofix
  hass_nabucasa/auth/cognito.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Remove deprecated CloudError and rename Cloud* exceptions to NabuCasa*
  .github/copilot-instructions.md
  hass_nabucasa/__init__.py
  hass_nabucasa/account_api.py
  hass_nabucasa/accounts_api.py
  hass_nabucasa/alexa_api.py
  hass_nabucasa/api.py
  hass_nabucasa/auth/__init__.py
  hass_nabucasa/auth/cognito.py
  hass_nabucasa/cloudhooks.py
  hass_nabucasa/events/bus.py
  hass_nabucasa/exceptions.py
  hass_nabucasa/files.py
  hass_nabucasa/google_report_state.py
  hass_nabucasa/ice_servers.py
  hass_nabucasa/instance_api.py
  hass_nabucasa/iot_base.py
  hass_nabucasa/llm/errors.py
  hass_nabucasa/llm/handler.py
  hass_nabucasa/payments_api.py
  hass_nabucasa/service_discovery.py
  hass_nabucasa/voice_api.py
  tests/__snapshots__/test_files.ambr
  tests/test_api.py
  tests/test_auth.py
  tests/test_files.py
  tests/test_iot_base.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

docs: note PEP 758 except syntax is valid under Python 3.14
  .github/copilot-instructions.md
Due: codespell

Make CLAUDE.md a symlink to copilot-instructions.md
  CLAUDE.md
Due: codespell

Potential fix for pull request finding
  .github/copilot-instructions.md
Due: codespell

Stop the certificate handler cleanly on cloud reset
  hass_nabucasa/__init__.py
  hass_nabucasa/acme.py
  hass_nabucasa/remote.py
  tests/test_acme.py
  tests/test_init.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Simplify test docstrings
  tests/test_acme.py
  tests/test_init.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Time-box waiting for the certificate handler to stop
  hass_nabucasa/remote.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Soften and disambiguate the DNS cleanup log messages
  hass_nabucasa/acme.py
  tests/test_acme.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

PEP 758 except syntax is valid under Python 3.14 (#1152)
  .github/copilot-instructions.md
Due: codespell

Make CLAUDE.md a symlink to copilot-instructions.md (#1153)
  CLAUDE.md
Due: codespell

Add timeout to Cognito token renewal (#1151)
  hass_nabucasa/__init__.py
  hass_nabucasa/auth/__init__.py
  hass_nabucasa/auth/cognito.py
  hass_nabucasa/auth/const.py
  tests/test_auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Update snitun to 0.46.1 (#1142)
  hass_nabucasa/instance_api.py
  hass_nabucasa/remote.py
  pyproject.toml
  tests/common.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, pylint, mypy

Update snitun to 0.47.0
  pyproject.toml
Due: check-toml, codespell

Upgrade snitun dependency to 0.47.0 (#1154)
  pyproject.toml
Due: check-toml, codespell

Fix cloud upload MD5 mismatch on aiohttp reusable request bodies
  hass_nabucasa/files.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Replace pyOpenSSL usage in acme with cryptography APIs
  hass_nabucasa/acme.py
  pyproject.toml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, pylint, mypy
