Repository NabuCasa/hass-nabucasa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, codespell, pylint, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff Linter
        language: system
        types: [python]
        entry: python3 -m ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: Ruff Formatter
        language: system
        types: [python]
        entry: python3 -m ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-ast
        name: Check Python AST
        language: system
        types: [python]
        entry: check-ast
      - id: check-case-conflict
        name: Check for case conflicts
        language: system
        entry: check-case-conflict
      - id: check-docstring-first
        name: heck docstring is first
        language: system
        types: [python]
        entry: check-docstring-first
      - id: check-executables-have-shebangs
        name: Check that executables have shebangs
        language: system
        types: [text, executable]
        entry: check-executables-have-shebangs
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: check-json
      - id: check-merge-conflict
        name: Check for merge conflicts
        language: system
        types: [text]
        entry: check-merge-conflict
      - id: check-toml
        name: Check TOML files
        language: system
        types: [toml]
        entry: check-toml
      - id: codespell
        name: Check code for common misspellings
        language: system
        types: [text]
        entry: codespell
        exclude: voice_data.py
      - id: detect-private-key
        name: Detect Private Keys
        language: system
        types: [text]
        entry: detect-private-key
      - id: end-of-file-fixer
        name: Fix End of Files
        language: system
        types: [text]
        entry: end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: Don't commit to the main branch
        language: system
        entry: no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: Starring code with pylint
        entry: python3 -m pylint
        language: system
        types: [python]
        require_serial: true
        files: ^hass_nabucasa/.+\.py$
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        language: system
        types: [text]
        entry: trailing-whitespace-fixer
        stages: [pre-commit, pre-push, manual]
      - id: mypy
        name: mypy
        entry: python3 -m mypy
        language: system
        types: [python]
        require_serial: true
        files: ^hass_nabucasa/.+\.py$

use proper SSE decoder
  hass_nabucasa/llm.py
  tests/test_llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

lint fix
  tests/test_llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

fix tests
  tests/test_llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Migrate google WS url to service discovery
  hass_nabucasa/google_report_state.py
  hass_nabucasa/service_discovery.py
  tests/test_google_report_state.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Update action names
  hass_nabucasa/google_report_state.py
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_google_report_state_sync.ambr
  tests/test_google_report_state.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Migrate Google Request sync request to use service discovery action (#1057)
  hass_nabucasa/google_report_state.py
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_google_report_state_sync.ambr
  tests/test_google_report_state.py
  tests/test_google_report_state_sync.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Remove api_version
  hass_nabucasa/api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Remove api_version (#1060)
  hass_nabucasa/api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

improvements
  hass_nabucasa/llm.py
  tests/test_llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

more improvements
  hass_nabucasa/llm.py
  tests/test_llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

fix lint
  hass_nabucasa/llm.py
  tests/test_llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

remove SimpleNamespace in favor of dict
  hass_nabucasa/llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

replace litellm sdk (#1041)
  hass_nabucasa/llm.py
  pyproject.toml
  tests/test_llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, pylint, mypy

return events as dataclasses
  hass_nabucasa/llm.py
  hass_nabucasa/llm_stream_events.py
  tests/test_llm.py
  tests/test_llm_stream_events.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

fix lint
  hass_nabucasa/llm.py
  hass_nabucasa/llm_stream_events.py
  tests/test_llm.py
  tests/test_llm_stream_events.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

split complex function
  hass_nabucasa/llm_stream_events.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add service_discovery_update event to CloudEventBus
  hass_nabucasa/events/types.py
  hass_nabucasa/service_discovery.py
  tests/test_service_discovery.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Simplify service_discovery_update event implementation
  hass_nabucasa/events/types.py
  hass_nabucasa/service_discovery.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

update snapshot
  tests/__snapshots__/test_service_discovery.ambr
Due: codespell

Test that service_discovery_update event is not published for cached data (#1064)
  tests/test_service_discovery.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Add service_discovery_update event to CloudEventBus (#1063)
  hass_nabucasa/events/types.py
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_service_discovery.ambr
  tests/test_service_discovery.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

refactor and improvements
  hass_nabucasa/llm/__init__.py
  hass_nabucasa/llm/errors.py
  hass_nabucasa/llm/handler.py
  hass_nabucasa/llm/stream_events.py
  tests/test_llm_stream_events.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

lint fix
  hass_nabucasa/llm/__init__.py
  hass_nabucasa/llm/errors.py
  hass_nabucasa/llm/handler.py
  hass_nabucasa/llm/stream_events.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

fix tests and lint
  hass_nabucasa/__init__.py
  hass_nabucasa/llm/__init__.py
  hass_nabucasa/llm/errors.py
  tests/test_llm.py
  tests/test_llm_stream_events.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

scaffold more
  hass_nabucasa/__init__.py
  hass_nabucasa/llm/__init__.py
  hass_nabucasa/llm/errors.py
  hass_nabucasa/llm/stream_events.py
  tests/test_llm.py
  tests/test_llm_stream_events.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

improve
  hass_nabucasa/llm/handler.py
  hass_nabucasa/llm/stream_events.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

rename API to Api in classes
  hass_nabucasa/llm/stream_events.py
  tests/test_llm.py
  tests/test_llm_stream_events.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Transform events to dataclasses (#1062)
  hass_nabucasa/__init__.py
  hass_nabucasa/llm/__init__.py
  hass_nabucasa/llm/errors.py
  hass_nabucasa/llm/handler.py
  hass_nabucasa/llm/stream_events.py
  tests/test_llm.py
  tests/test_llm_stream_events.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Replace Servicehandlers server usages with Api server
  hass_nabucasa/__init__.py
  hass_nabucasa/const.py
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_account_api.ambr
  tests/__snapshots__/test_alexa_api.ambr
  tests/__snapshots__/test_cloudhooks.ambr
  tests/__snapshots__/test_files.ambr
  tests/__snapshots__/test_ice_servers.ambr
  tests/__snapshots__/test_instance_api.ambr
  tests/__snapshots__/test_remote.ambr
  tests/__snapshots__/test_voice_api.ambr
  tests/conftest.py
  tests/fixtures/service_discovery.json
  tests/test_account_api.py
  tests/test_alexa_api.py
  tests/test_cloudhooks.py
  tests/test_files.py
  tests/test_ice_servers.py
  tests/test_init.py
  tests/test_instance_api.py
  tests/test_remote.py
  tests/test_voice.py
  tests/test_voice_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, codespell, pylint, mypy

Replace Servicehandlers server usages with Api server (#1070)
  hass_nabucasa/__init__.py
  hass_nabucasa/const.py
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_account_api.ambr
  tests/__snapshots__/test_alexa_api.ambr
  tests/__snapshots__/test_cloudhooks.ambr
  tests/__snapshots__/test_files.ambr
  tests/__snapshots__/test_ice_servers.ambr
  tests/__snapshots__/test_instance_api.ambr
  tests/__snapshots__/test_remote.ambr
  tests/__snapshots__/test_voice_api.ambr
  tests/conftest.py
  tests/fixtures/service_discovery.json
  tests/test_account_api.py
  tests/test_alexa_api.py
  tests/test_cloudhooks.py
  tests/test_files.py
  tests/test_ice_servers.py
  tests/test_init.py
  tests/test_instance_api.py
  tests/test_remote.py
  tests/test_voice.py
  tests/test_voice_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, codespell, pylint, mypy

Extend exception handling in the acme module
  hass_nabucasa/acme.py
  pyproject.toml
  tests/__snapshots__/test_remote.ambr
  tests/test_acme.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, pylint, mypy

Extend exception handling in the acme module (#1071)
  hass_nabucasa/acme.py
  pyproject.toml
  tests/__snapshots__/test_remote.ambr
  tests/test_acme.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, pylint, mypy

Refactor Gender and AudioOutput classes to use StrEnum instead of str, Enum
  hass_nabucasa/voice.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Refactor Gender and AudioOutput classes to use StrEnum instead of str, Enum (#1074)
  hass_nabucasa/voice.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add tests for cloudhook creation and deletion events
  tests/test_cloudhooks.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

lint
  tests/test_cloudhooks.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Add cloudhook created and deleted events to event system (#1036)
  hass_nabucasa/__init__.py
  hass_nabucasa/cloudhooks.py
  hass_nabucasa/events/__init__.py
  hass_nabucasa/events/types.py
  tests/__snapshots__/test_cloudhooks.ambr
  tests/test_cloudhooks.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add ping targets functionality for latency measurement and update related tests
  hass_nabucasa/__init__.py
  hass_nabucasa/instance_api.py
  hass_nabucasa/remote.py
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_instance_api.ambr
  tests/__snapshots__/test_remote.ambr
  tests/fixtures/service_discovery.json
  tests/test_instance_api.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, codespell, pylint, mypy

simplify
  hass_nabucasa/instance_api.py
  hass_nabucasa/remote.py
  hass_nabucasa/utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy
