Repository NabuCasa/hass-nabucasa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, codespell, pylint, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff Linter
        language: system
        types: [python]
        entry: python3 -m ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: Ruff Formatter
        language: system
        types: [python]
        entry: python3 -m ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-ast
        name: Check Python AST
        language: system
        types: [python]
        entry: check-ast
      - id: check-case-conflict
        name: Check for case conflicts
        language: system
        entry: check-case-conflict
      - id: check-docstring-first
        name: heck docstring is first
        language: system
        types: [python]
        entry: check-docstring-first
      - id: check-executables-have-shebangs
        name: Check that executables have shebangs
        language: system
        types: [text, executable]
        entry: check-executables-have-shebangs
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: check-json
      - id: check-merge-conflict
        name: Check for merge conflicts
        language: system
        types: [text]
        entry: check-merge-conflict
      - id: check-toml
        name: Check TOML files
        language: system
        types: [toml]
        entry: check-toml
      - id: codespell
        name: Check code for common misspellings
        language: system
        types: [text]
        entry: codespell
        exclude: voice_data.py
      - id: detect-private-key
        name: Detect Private Keys
        language: system
        types: [text]
        entry: detect-private-key
      - id: end-of-file-fixer
        name: Fix End of Files
        language: system
        types: [text]
        entry: end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: Don't commit to the main branch
        language: system
        entry: no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: Starring code with pylint
        entry: python3 -m pylint
        language: system
        types: [python]
        require_serial: true
        files: ^hass_nabucasa/.+\.py$
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        language: system
        types: [text]
        entry: trailing-whitespace-fixer
        stages: [pre-commit, pre-push, manual]
      - id: mypy
        name: mypy
        entry: python3 -m mypy
        language: system
        types: [python]
        require_serial: true
        files: ^hass_nabucasa/.+\.py$

Add CloudConnectionError for handling connection issues with AWS
  hass_nabucasa/auth/__init__.py
  hass_nabucasa/auth/cognito.py
  tests/test_auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Update hass_nabucasa/auth/cognito.py
  hass_nabucasa/auth/cognito.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

limit
  hass_nabucasa/auth/cognito.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add CloudConnectionError for handling connection issues with AWS (#1034)
  hass_nabucasa/auth/__init__.py
  hass_nabucasa/auth/cognito.py
  tests/test_auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add login and logout event publishing to Cloud class (#1031)
  hass_nabucasa/__init__.py
  hass_nabucasa/events/types.py
  tests/events/__snapshots__/test_bus.ambr
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add cloudhook created and deleted events to event system
  hass_nabucasa/__init__.py
  hass_nabucasa/cloudhooks.py
  hass_nabucasa/events/__init__.py
  hass_nabucasa/events/types.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Refactor cloudhooks tests to use Cloud fixture and snapshots
  tests/__snapshots__/test_cloudhooks.ambr
  tests/test_cloudhooks.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Update tests/test_cloudhooks.py
  tests/test_cloudhooks.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Add latency checking utils
  hass_nabucasa/utils.py
  tests/__snapshots__/test_utils.ambr
  tests/test_utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Refactor cloudhooks tests to use Cloud fixture and snapshots (#1035)
  tests/__snapshots__/test_cloudhooks.ambr
  tests/test_cloudhooks.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

update snapshot
  tests/__snapshots__/test_cloudhooks.ambr
Due: codespell

replace LiteLLM SDK with HTTP calls
  hass_nabucasa/llm.py
  pyproject.toml
  tests/test_llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, pylint, mypy

simplify
  hass_nabucasa/utils.py
  tests/__snapshots__/test_utils.ambr
  tests/test_utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

small improvements
  hass_nabucasa/llm.py
  tests/test_llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add PingError for latency check failures
  hass_nabucasa/utils.py
  tests/test_utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

adjustments
  hass_nabucasa/__init__.py
  hass_nabucasa/utils.py
  pyproject.toml
  tests/test_utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, pylint, mypy

lint
  tests/test_utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Remove accounts server from configuration
  hass_nabucasa/__init__.py
  hass_nabucasa/const.py
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_accounts_api.ambr
  tests/__snapshots__/test_payments_api.ambr
  tests/conftest.py
  tests/test_accounts_api.py
  tests/test_init.py
  tests/test_payments_api.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Use address in CheckLatencyHostResult instead of duplicated ip/hostname
  hass_nabucasa/utils.py
  tests/__snapshots__/test_utils.ambr
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add latency checking utils (#1037)
  hass_nabucasa/__init__.py
  hass_nabucasa/utils.py
  pyproject.toml
  tests/__snapshots__/test_utils.ambr
  tests/test_utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, pylint, mypy

Remove accounts server from configuration (#1049)
  hass_nabucasa/__init__.py
  hass_nabucasa/const.py
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_accounts_api.ambr
  tests/__snapshots__/test_payments_api.ambr
  tests/conftest.py
  tests/test_accounts_api.py
  tests/test_init.py
  tests/test_payments_api.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Migrate Alexa API to use service discovery action
  hass_nabucasa/alexa_api.py
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_alexa_api.ambr
  tests/test_alexa_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Rename test
  tests/__snapshots__/test_alexa_api.ambr
  tests/test_alexa_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Migrate Instance requests to use service discovery actions
  hass_nabucasa/cloudhooks.py
  hass_nabucasa/instance_api.py
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_cloudhooks.ambr
  tests/__snapshots__/test_instance_api.ambr
  tests/__snapshots__/test_remote.ambr
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Remove unused function
  hass_nabucasa/cloudhooks.py
  hass_nabucasa/instance_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Remove unused function
  hass_nabucasa/alexa_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Migrate Instance requests to use service discovery actions (#1051)
  hass_nabucasa/cloudhooks.py
  hass_nabucasa/instance_api.py
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_cloudhooks.ambr
  tests/__snapshots__/test_instance_api.ambr
  tests/__snapshots__/test_remote.ambr
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Migrate Alexa API to use service discovery action (#1050)
  hass_nabucasa/alexa_api.py
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_alexa_api.ambr
  tests/test_alexa_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

improvements
  hass_nabucasa/llm.py
  tests/test_llm.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Migrate Files requests to use service discovery actions
  hass_nabucasa/files.py
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_files.ambr
  tests/conftest.py
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Improve patch
  tests/conftest.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Revert "Improve patch"
  tests/conftest.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Fix paths
  hass_nabucasa/files.py
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_files.ambr
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Migrate WebRTC request to use service discovery action
  hass_nabucasa/ice_servers.py
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_ice_servers.ambr
  tests/conftest.py
  tests/test_ice_servers.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Migrate Account Services request to use service discovery action
  hass_nabucasa/account_api.py
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_account_api.ambr
  tests/test_account_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Migrate WebRTC request to use service discovery action (#1055)
  hass_nabucasa/ice_servers.py
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_ice_servers.ambr
  tests/conftest.py
  tests/test_ice_servers.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Migrate Account Services request to use service discovery action (#1056)
  hass_nabucasa/account_api.py
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_account_api.ambr
  tests/test_account_api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Migrate Files requests to use service discovery actions (#1054)
  hass_nabucasa/files.py
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_files.ambr
  tests/test_files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Migrate Google Request sync request to use service discovery action
  hass_nabucasa/google_report_state.py
  hass_nabucasa/service_discovery.py
  tests/__snapshots__/test_google_report_state_sync.ambr
  tests/test_google_report_state_sync.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy
