Repository NabuCasa/hass-nabucasa: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, codespell, pylint, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff Linter
        language: system
        types: [python]
        entry: python3 -m ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: Ruff Formatter
        language: system
        types: [python]
        entry: python3 -m ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-ast
        name: Check Python AST
        language: system
        types: [python]
        entry: check-ast
      - id: check-case-conflict
        name: Check for case conflicts
        language: system
        entry: check-case-conflict
      - id: check-docstring-first
        name: heck docstring is first
        language: system
        types: [python]
        entry: check-docstring-first
      - id: check-executables-have-shebangs
        name: Check that executables have shebangs
        language: system
        types: [text, executable]
        entry: check-executables-have-shebangs
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: check-json
      - id: check-merge-conflict
        name: Check for merge conflicts
        language: system
        types: [text]
        entry: check-merge-conflict
      - id: check-toml
        name: Check TOML files
        language: system
        types: [toml]
        entry: check-toml
      - id: codespell
        name: Check code for common misspellings
        language: system
        types: [text]
        entry: codespell
        exclude: voice_data.py
      - id: detect-private-key
        name: Detect Private Keys
        language: system
        types: [text]
        entry: detect-private-key
      - id: end-of-file-fixer
        name: Fix End of Files
        language: system
        types: [text]
        entry: end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: Don't commit to the main branch
        language: system
        entry: no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: Starring code with pylint
        entry: python3 -m pylint
        language: system
        types: [python]
        require_serial: true
        files: ^hass_nabucasa/.+\.py$
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        language: system
        types: [text]
        entry: trailing-whitespace-fixer
        stages: [pre-commit, pre-push, manual]
      - id: mypy
        name: mypy
        entry: python3 -m mypy
        language: system
        types: [python]
        require_serial: true
        files: ^hass_nabucasa/.+\.py$

Add test coverage for private key handling in _generate_csr
  tests/test_acme.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Add GitHub Actions workflow for Python package with Conda
  .github/workflows/python-package-conda.yml
Due: codespell

Anchor the reconnection backoff on the end of the grace period
  hass_nabucasa/__init__.py
  tests/test_init.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Pin the shortest backoff to the full grace period end day
  tests/test_init.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Rename grace_period_end to subscription_expired_at
  hass_nabucasa/__init__.py
  tests/test_init.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Extract SUB_EXP_AT_DELTA_DEFAULT
  hass_nabucasa/__init__.py
  hass_nabucasa/const.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Trim the backoff test docstring
  .github/copilot-instructions.md
  tests/test_init.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

Parametrize the backoff boundary test on timedeltas
  tests/test_init.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

fix(remote): make certificate flow tolerate transient DNS failures
  hass_nabucasa/acme.py
  hass_nabucasa/remote.py
  tests/test_acme.py
  tests/test_remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Ignore CPY001
  pyproject.toml
Due: check-toml, codespell

Fix RUF036
  hass_nabucasa/__init__.py
  hass_nabucasa/iot_base.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add speech to text v2 over a persistent WebSocket connection
  hass_nabucasa/__init__.py
  hass_nabucasa/const.py
  hass_nabucasa/stt_v2.py
  tests/test_init.py
  tests/test_stt_v2.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add register and auto-login on account confirmation
  hass_nabucasa/auth/cognito.py
  hass_nabucasa/auth/const.py
  tests/test_auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Handle concurrent-login race in auto-login retry loop
  hass_nabucasa/auth/cognito.py
  tests/test_auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Move register + auto-login orchestration to Cloud
  hass_nabucasa/__init__.py
  hass_nabucasa/auth/cognito.py
  hass_nabucasa/auth/const.py
  hass_nabucasa/const.py
  tests/test_auth.py
  tests/test_init.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Address review: cancel auto-login on logout, log unexpected errors with traceback, re-raise unexpected assertions
  hass_nabucasa/__init__.py
  tests/test_init.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Use tiered backoff for auto-login retries
  hass_nabucasa/__init__.py
  hass_nabucasa/const.py
  tests/test_init.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Return a cancel callback from register_and_auto_login
  hass_nabucasa/__init__.py
  tests/test_init.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add SpeechToTextV2UnsupportedLanguageError for unsupported languages
  hass_nabucasa/__init__.py
  hass_nabucasa/stt_v2.py
  tests/test_stt_v2.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Ensure WebSocket connection is reused if already open and add test for multiple connect calls
  hass_nabucasa/stt_v2.py
  tests/test_stt_v2.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Update STT server constant to use WebSocket URL and adjust tests accordingly
  hass_nabucasa/const.py
  hass_nabucasa/stt_v2.py
  tests/test_stt_v2.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Address review: normalize email, typed AlreadyLoggedIn, cancel on stop
  hass_nabucasa/__init__.py
  hass_nabucasa/auth/__init__.py
  hass_nabucasa/auth/cognito.py
  hass_nabucasa/const.py
  tests/test_init.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

disable=broad-except
  hass_nabucasa/stt_v2.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add codespell ignore comment for 'te' language code
  hass_nabucasa/stt_v2.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add BaseException back
  hass_nabucasa/stt_v2.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Fix condition for resetting context on SSLError handling in RemoteUI
  hass_nabucasa/remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Map PreSignUp Lambda validation errors to clean auth errors
  hass_nabucasa/auth/cognito.py
  tests/test_auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Change condition for resetting context on SSLError handling in RemoteUI (#1174)
  hass_nabucasa/remote.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Access the Cognito error payload directly instead of defensively
  hass_nabucasa/auth/cognito.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Map PreSignUp Lambda validation errors to clean auth errors (#1175)
  hass_nabucasa/auth/cognito.py
  tests/test_auth.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Add source code and bug reports url
  pyproject.toml
Due: check-toml, codespell

Add source code and bug reports url (#1176)
  pyproject.toml
Due: check-toml, codespell

Update hass_nabucasa/acme.py
  hass_nabucasa/acme.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Reject login when the id token has no subscription claim
  hass_nabucasa/__init__.py
  hass_nabucasa/auth/__init__.py
  hass_nabucasa/auth/cognito.py
  tests/test_auth.py
  tests/test_init.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Return an AutoLoginController with cancel and immediate-attempt
  hass_nabucasa/__init__.py
  tests/test_init.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Retry auto-login while the account is not ready
  hass_nabucasa/__init__.py
  tests/test_init.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Export RemoteNotConnected from the package root
  hass_nabucasa/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Export RemoteNotConnected from the package root (#1178)
  hass_nabucasa/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Remove redundant comments, add error message
  hass_nabucasa/__init__.py
  hass_nabucasa/auth/cognito.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy

Reject login when the id token has no subscription claim (#1177)
  hass_nabucasa/__init__.py
  hass_nabucasa/auth/__init__.py
  hass_nabucasa/auth/cognito.py
  tests/test_auth.py
  tests/test_init.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, pylint, mypy
